---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';
import '../styles/swiper.scss';

import { Image } from 'astro:assets';
import { getImage } from 'astro:assets';
import bunny from '../img/drawings/bunny.webp';
import triad from '../img/drawings/triad.webp';
import dad from '../img/drawings/carry.webp';
import spring from '../img/drawings/spring.webp';
import ok from '../img/drawings/ok.webp';
import birdman from '../img/drawings/quiet.webp';
import butterfly from '../img/drawings/elder.webp';
import involuntary from '../img/drawings/melancholia.webp';
import dreaming from '../img/drawings/dreaming.webp';
import alright from '../img/drawings/alright.webp';
import cheezWhiz from '../img/drawings/cheez-whiz.webp';

import lebanonRoad from '../img/landscapes/lebanon-road.webp';
import flynns from '../img/landscapes/flynns.webp';

import misa2 from '../img/portraits/misa-02.webp';
import mrferron from '../img/portraits/mr-ferron.webp';
import liam2011 from '../img/portraits/liam-2011.webp';

import anv from '../img/sites/anv.webp';
import loki from '../img/sites/loki.webp';
import terraplus from '../img/sites/terraplus.webp';
import thundermin from '../img/sites/thr.webp';
import rockcliff from '../img/sites/rockcliff.webp';
import queenston from '../img/sites/qmi.webp';
import riva from '../img/sites/riva.webp';
import pdac from '../img/sites/pdac.webp';
import harp from '../img/sites/harp.webp';
---

<Layout pageTitle="About" pageSiteTitles="">
	<section>
		<div class="container top-of-page">
			<div class="flex padding-x">
				<div class="cell small-18">
					<h1>Investor Relations Marketing</h1>
				</div>
			</div>
			<div id="intro" class="spacing-btm">
				<p class="width">
					After working in film production/post-production earlier in my career, I had the opportunity to work as a web-designer for Exploration Link Ltd., a boutique web-design company that provided
					print and web services to companies in the Mining and Exploration Industry.
				</p>
			</div>

			<div class="flex padding-x align-middle borders grey-bg">
				<div class="cell small-18 medium-10 small-order-2 medium-order-1">
					<div class="swiper elink">
						<div class="swiper-wrapper" id="mining">
							<div class="swiper-slide"><Picture src={anv} formats={['avif', 'webp']} alt="Allied Nevada" /></div>
							<div class="swiper-slide"><Picture src={loki} formats={['avif', 'webp']} alt="Loki Innovations" /></div>
							<div class="swiper-slide"><Picture src={terraplus} formats={['avif', 'webp']} alt="Terraplus" /></div>
							<div class="swiper-slide"><Picture src={thundermin} formats={['avif', 'webp']} alt="Thundermin" /></div>
							<div class="swiper-slide"><Picture src={rockcliff} formats={['avif', 'webp']} alt="Rockcliff" /></div>
							<div class="swiper-slide"><Picture src={queenston} formats={['avif', 'webp']} alt="Queenston Engineering" /></div>
							<div class="swiper-slide"><Picture src={riva} formats={['avif', 'webp']} alt="Riva Modeling" /></div>
							<div class="swiper-slide"><Picture src={pdac} formats={['avif', 'webp']} alt="PDAC" /></div>
							<div class="swiper-slide"><Picture src={harp} formats={['avif', 'webp']} alt="Harp Capital" /></div>
						</div>
					</div>
				</div>
				<div class="cell small-18 medium-8 small-order-1 medium-order-2">
					<h1>Tabled Days</h1>
					<p>
						The following carousel of brochure sites are examples from my initial introduction to HTML, CSS, jQuery, web-design, and content management for companies in the investor relations and
						software development industries and were built with Microsoft FrontPage.
					</p>
					<p>
						I was asked to create and unify branding concepts for print, web, and tradeshow booths, as well as build HTML tabled websites, post news releases, edit video, modify and optimize images,
						and create Adobe Flash animations for web and banner Ads.
					</p>
					<!-- <p>
						<a target="_blank" class="underline" href="https://www.linkedin.com/in/doug-webster-7a82a12/">Doug Webster</a>, a Geogologist and musician, started the company in the mid 90's to meet the
						growing demand for an online presence for companies in the Mining and Exploration industry, including <a target="_blank" class="underline" href="https://pdac.ca/"
							>The Prospectors & Developers Association of Canada (PDAC)</a
						> and <a target="_blank" class="underline" href="https://www.kinross.com/">Kinross Gold</a>, to name a few.
					</p> -->
				</div>
			</div>
		</div>
	</section>

	<div class="line-vert right"></div>

	<section>
		<div class="container">
			<div class="flex padding-x align-middle borders grey-bg">
				<div class="cell small-18 medium-9 intro">
					<h1>Video Production</h1>
					<p class="slideInUp">
						Prior to Exploration Link, I worked for <a class="underline" target="_blank" href="https://imageslifemedia.com/">Images Life Media</a>, an event management video production company with a
						successful niche market in wedding biographies, corporate events, and commercial video services.
					</p>
					<p>
						I was responsible for shooting video and black and white 8mm & 16mm film, film to video transfers, editing, mixed-media photography, and video effects for clients in the Greater Toronto
						Area.
					</p>
				</div>
				<div class="cell small-18 medium-9">
					<video playsinline muted controls autoplay poster="" style="width: 100%;">
						<source src="/S2-Video-Wall.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
	</section>

	<div class="line-vert left"></div>

	<section id="slideshow-container">
		<div class="container images">
			<div class="flex padding-x align-middle borders">
				<div class="cell small-18">
					<h3>Side Projects</h3>
					<p>
						The following traditional media selections are examples from a number of ongoing side projects, including documenting my son and daughter as they have grown up, local urban and Google Maps
						"found" landscapes, and illustrations inspired by drawing lessons at our kitchen table.
					</p>
					<div class="flex">
						<div class="cell small-18" id="swiper-vertical-nav">
							<div class="swiper-pagination swiper-pagination-v"></div>
						</div>
						<div class="cell small-18">
							<div class="swiper-container swiper-container-v">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="swiper-container swiper-container-h">
											<div class="swiper-wrapper" id="portraits">
												<div class="swiper-slide">
													<div>
														<Picture src={mrferron} formats={['avif', 'webp']} alt="Wife" />
														<p>Prague Selfie</p>
													</div>
												</div>
												<div class="swiper-slide">
													<Picture src={mrferron} formats={['avif', 'webp']} alt="Mish Collage" /><p>Misa Collage</p>
												</div>
												<div class="swiper-slide"><Picture src={mrferron} formats={['avif', 'webp']} alt="Liam" /><p>Liam</p></div>
												<div class="swiper-slide"><Picture src={mrferron} formats={['avif', 'webp']} alt="Gerard" /><p>Gerard</p></div>
												<div class="swiper-slide"><Picture src={misa2} formats={['avif', 'webp']} alt="Misa" /><p>Misa</p></div>
												<div class="swiper-slide"><Picture src={mrferron} formats={['avif', 'webp']} alt="Misa" /><p>Misa</p></div>
												<div class="swiper-slide"><Picture src={mrferron} formats={['avif', 'webp']} alt="Misa" /><p>Misa</p></div>
											</div>
											<div class="swiper-pagination swiper-pagination-h"></div>
										</div>
									</div>

									<div class="swiper-slide">
										<div class="swiper-container swiper-container-h">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<Picture src={lebanonRoad} formats={['avif', 'webp']} alt="" />
													<p>
														<strong>GOOGLE MAPS</strong><br />God's House, Lebanon Rd, Pembroke, Giles, Virginia<br />
														<a target="_blank" href="https://maps.app.goo.gl/shfugEJfF2Eb86dX6">Coordinates</a>
													</p>
												</div>
												<div class="swiper-slide">
													<Picture src={flynns} formats={['avif', 'webp']} alt="" /><p><strong>GOOGLE MAPS</strong><br />Flynns General Store & Gas<br />29 County Rd 507, Buckhorn, ON K0L 1J0</p>
												</div>
											</div>
											<div class="swiper-pagination swiper-pagination-h"></div>
										</div>
									</div>

									<div class="swiper-slide">
										<div class="swiper-container swiper-container-h">
											<div class="swiper-wrapper">
												<div class="swiper-slide"><Picture src={bunny} formats={['avif', 'webp']} alt="Bunny" /><p>Bunny</p></div>
												<!-- <div class="swiper-slide"><Picture src={cheezWhiz} formats={['avif', 'webp']} alt="Cheese Whiz" /><p>Cheese Whiz</p></div> -->
												<div class="swiper-slide"><Picture src={triad} formats={['avif', 'webp']} alt="Triad" /><p>Triad</p></div>
												<div class="swiper-slide"><Picture src={butterfly} formats={['avif', 'webp']} alt="Butterfly Elder" /><p>Butterfly Elder</p></div>
												<div class="swiper-slide"><Picture src={involuntary} formats={['avif', 'webp']} alt="Involuntary Melancholia" /><p>Involuntary Melancholia</p></div>
												<div class="swiper-slide"><Picture src={dreaming} formats={['avif', 'webp']} alt="Dreaming of Mount Vesuvius" /><p>Dreaming of Mount Vesuvius</p></div>
												<div class="swiper-slide"><Picture src={birdman} formats={['avif', 'webp']} alt="Quiet Birdman Assocation" /><p>Quiet Birdman Assocation</p></div>
												<div class="swiper-slide"><Picture src={spring} formats={['avif', 'webp']} alt="spring" /><p>Spring</p></div>
												<div class="swiper-slide"><Picture src={dad} formats={['avif', 'webp']} alt="Dad, carry me" /><p>Dad, carry me</p></div>
												<div class="swiper-slide"><Picture src={ok} formats={['avif', 'webp']} alt="Everything is going to be ok" /><p>Everything is going to be ok</p></div>
												<div class="swiper-slide"><Picture src={alright} formats={['avif', 'webp']} alt="Alright, I won't leave you" /><p>Alright, I won't leave you</p></div>
											</div>
											<div class="swiper-pagination swiper-pagination-h"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="line-vert right"></div>

	<section>
		<div class="container btm">
			<div class="flex padding-x align-middle borders">
				<div class="cell small-18 medium-9">
					<h1>Favourite Films</h1>
					<p>Coming soon.</p>
				</div>
				<div class="cell small-18 medium-9"></div>
			</div>
		</div>
	</section>

	<!-- Swiper JS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<script is:inline src="../src/scripts/swiper.js"></script>

	<script>
		var swiper = new Swiper('.elink', {
			mousewheel: true,
			keyboard: true,
			autoplay: true,
			speed: 1000,
			delay: 5000,
			effect: 'fade',
			pagination: {
				pagination: '.swiper-pagination-h',
				el: '.swiper-pagination-h',
				clickable: true,
				renderBullet: function (index: number, className: string) {
					return '<span class="' + className + '">' + direction[index] + '</span>';
				},
			},
		});

		var swiper = new Swiper('.examples', {
			mousewheel: true,
			keyboard: true,
			autoplay: true,
			speed: 1000,
			delay: 50000,
			effect: 'fade',
			autoHeight: true,
		});

		// IMAGES
		var floor = ['Portraits', 'Landscape', 'Drawings'];
		var direction = ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''];

		var swiperV = new Swiper('.swiper-container-v', {
			pagination: {
				el: '.swiper-pagination-v',
				clickable: true,
				autoHeight: true,
				renderBullet: function (index: number, className: string) {
					return '<span class="' + className + '">' + floor[index] + '</span>';
				},
			},
			speed: 1000,
			direction: 'vertical',
			autoHeight: true,
			spaceBetween: 0,
		});

		var swiperH = new Swiper('.swiper-container-h', {
			lazy: true,
			pagination: {
				pagination: '.swiper-pagination-h',
				el: '.swiper-pagination-h',
				clickable: true,
				autoHeight: true,
				renderBullet: function (index: number, className: string) {
					return '<span class="' + className + '">' + direction[index] + '</span>';
				},
			},
			speed: 1000,
			//autoplay: true,

			direction: 'horizontal',
			effect: 'fade',
			spaceBetween: 0,
			autoHeight: true,
			nested: true,
		});
	</script>
</Layout>
