---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';
import '../styles/swiper.scss';
import { Image } from 'astro:assets';

import pdac from '../img/sites/pdac.webp';
import ific from '../img/sites/ific.webp';
import pollock from '../img/pollock.webp';

import bunny from '../img/drawings/bunny.webp';
import triad from '../img/drawings/triad.webp';
import dad from '../img/drawings/carry-me.webp';
import spring from '../img/drawings/spring.webp';
import birdmen from '../img/drawings/birdmen.webp';
import elder from '../img/drawings/elder.webp';
import melancholia from '../img/drawings/melancholia.webp';
import dreaming from '../img/drawings/dreaming.webp';
import cheezWhiz from '../img/drawings/cheez-whiz.webp';
import alright from '../img/drawings/alright.webp';

import lebanonRoad from '../img/landscapes/lebanon-road.webp';
import flynns from '../img/landscapes/flynns.webp';

import misa2007 from '../img/portraits/misa-2007.webp';
import misa2009 from '../img/portraits/misa-2009.webp';
import misa2020 from '../img/portraits/misa-2020.webp';
import misa2021 from '../img/portraits/misa-2021.webp';
import liam2011 from '../img/portraits/liam-2011.webp';
import liam2013 from '../img/portraits/liam-2013.webp';
import liam2014 from '../img/portraits/liam-2014.webp';
---

<Layout pageTitle="About" pageSiteTitles="">
	<section>
		<div class="container top-of-page">
			<div class="flex padding-x not-dark">
				<div class="cell small-18">
					<h1>Marketing & More</h1>
				</div>
			</div>
			<div id="intro" class="spacing-btm">
				<p class="justify width">Prior to working in marketing for the real estate development industry, I worked as a web designer and in video production.</p>
			</div>
		</div>
	</section>

	<section>
		<div class="container border-container">
			<div class="flex padding-x align-middle borders grey-bg">
				<div class="cell small-18 medium-9 large-9 small-order-2 medium-order-1">
					<div class="swiper elink">
						<div class="swiper-wrapper" id="mining">
							<div class="swiper-slide"><Picture src={pdac} formats={['avif', 'webp']} alt="PDAC" /></div>
							<div class="swiper-slide"><Picture src={ific} formats={['avif', 'webp']} alt="IFIC" /></div>
						</div>
					</div>
				</div>
				<div class="cell small-18 medium-9 large-9 small-order-1 medium-order-2">
					<h2>Investor Relations Industry</h2>
					<p class="justify width">I had the opportunity to work as a web designer for a company that provided print and web services to companies in the Mining and Exploration Industry.</p>
					<p class="justify">
						I was asked to create and unify branding between print, web, and tradeshow booths, as well as post news releases, edit and optimize video and images, and create animated banner Ads.
					</p>
					<!-- <p class="text-sm">
						<em>
							PDAC newsletter <a target="_blank" class="underline" href="/PDAC-Newsletter.pdf">photo credit</a> of the back of someones head (taken at the annual PDAC Convention held at the Metro Toronto
							Convention Centre).</em
						>
					</p> -->
					<!-- <p>
						<a target="_blank" class="underline" href="https://www.linkedin.com/in/doug-webster-7a82a12/">Doug Webster</a>, a Geogologist, started the company to meet the growing demand for an online
						presence for companies in the Mining and Exploration industry, including <a target="_blank" class="underline" href="https://pdac.ca/"
							>The Prospectors & Developers Association of Canada (PDAC)</a
						> and <a target="_blank" class="underline" href="https://www.kinross.com/">Kinross Gold</a>, to name a few.
					</p> -->
				</div>
			</div>
		</div>
	</section>

	<div class="line-vert right"></div>

	<section>
		<div class="container border-container">
			<div class="flex padding-x align-middle borders grey-bg">
				<div class="cell small-18 medium-18 large-8 intro">
					<h2>Video Production</h2>
					<p class="justify">
						I worked with <a class="underline" target="_blank" href="https://imageslifemedia.com/">Images Life Media</a>, an event management video production company as an editor and videographer.
					</p>
				</div>
				<div class="cell small-18 medium-18 large-10">
					<div class="responsive-iframe">
						<iframe title="Images Life Media" src="https://player.vimeo.com/video/374710585" allowfullscreen=""></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="line-vert left"></div>

	<section id="slideshow-container">
		<div class="container border-container images" id="traditional">
			<div class="flex padding-x align-middle borders grey-bg">
				<div class="cell small-18">
					<h2>Side Projects</h2>
					<p class="left">
						The following selections are taken from a few side projects, including documenting my son and daughter in portraits as they have grown up, local urban and Google Maps "found" landscapes,
						and illustrations inspired by drawing lessons at our kitchen table that began with a plush rabbit drying on our clothesline.
					</p>

					<div class="flex not-dark">
						<div class="cell small-18" id="swiper-vertical-nav">
							<div class="swiper-pagination swiper-pagination-v"></div>
						</div>
						<div class="cell small-18">
							<div class="swiper-container swiper-container-v">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="swiper-container swiper-container-h">
											<div class="swiper-wrapper" id="portraits">
												<div class="swiper-slide">
													<Picture src={liam2011} formats={['avif', 'webp']} alt="Liam" />
													<p>Liam 2010</p>
												</div>
												<div class="swiper-slide">
													<Picture src={liam2013} formats={['avif', 'webp']} alt="Liam" />
													<p>Liam 2012</p>
												</div>
												<div class="swiper-slide">
													<Picture src={liam2014} formats={['avif', 'webp']} alt="Liam" />
													<p>Liam 2014</p>
												</div>
												<div class="swiper-slide">
													<Picture src={misa2007} formats={['avif', 'webp']} alt="Misa" />
													<p>Misa 2007</p>
												</div>
												<div class="swiper-slide">
													<Picture src={misa2009} formats={['avif', 'webp']} alt="Misa" />
													<p>Misa 2009</p>
												</div>
												<div class="swiper-slide">
													<Picture src={misa2020} formats={['avif', 'webp']} alt="Misa" />
													<p>Misa 2019</p>
												</div>
												<div class="swiper-slide">
													<Picture src={misa2021} formats={['avif', 'webp']} alt="Misa" />
													<p>Misa 2021</p>
												</div>
											</div>
											<div class="swiper-pagination swiper-pagination-h"></div>
										</div>
									</div>

									<div class="swiper-slide" id="landscapes">
										<div class="swiper-container swiper-container-h">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<Picture src={lebanonRoad} formats={['avif', 'webp']} alt="" />
													<p>
														<strong>GOOGLE MAPS</strong><br />God's House, Lebanon Rd, Pembroke, Giles, Virginia<br />
														<a target="_blank" class="underline" href="https://maps.app.goo.gl/shfugEJfF2Eb86dX6">Coordinates</a>
													</p>
												</div>
												<div class="swiper-slide">
													<Picture src={flynns} formats={['avif', 'webp']} alt="" /><p>
														<strong>GOOGLE MAPS</strong><br />Flynns General Store & Gas<br />29 County Rd 507, Buckhorn, Ontario<br /><a
															target="_blank"
															class="underline"
															href="https://maps.app.goo.gl/2PA1kCvhNLF5f8K58">Coordinates</a
														>
													</p>
												</div>
											</div>
											<div class="swiper-pagination swiper-pagination-h"></div>
										</div>
									</div>

									<div class="swiper-slide">
										<div class="swiper-container swiper-container-h">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<Picture src={bunny} formats={['avif', 'webp']} alt="Rosie" />
													<p>Rosie</p>
												</div>
												<div class="swiper-slide">
													<Picture src={cheezWhiz} formats={['avif', 'webp']} alt="Cheez Whiz" />
													<p>Cheez Whiz</p>
												</div>
												<div class="swiper-slide">
													<Picture src={triad} formats={['avif', 'webp']} alt="Triad" />
													<p>Triad</p>
												</div>
												<div class="swiper-slide">
													<Picture src={elder} formats={['avif', 'webp']} alt="Butterfly Elder" />
													<p>Butterfly Elder</p>
												</div>
												<div class="swiper-slide">
													<Picture src={melancholia} formats={['avif', 'webp']} alt="Involuntary Melancholia" />
													<p>Involuntary Melancholia</p>
												</div>
												<div class="swiper-slide">
													<Picture src={dreaming} formats={['avif', 'webp']} alt="Dreaming of Mount Vesuvius" />
													<p>Dreaming of Mount Vesuvius</p>
												</div>
												<div class="swiper-slide">
													<Picture src={spring} formats={['avif', 'webp']} alt="spring" />
													<p>Spring</p>
												</div>
												<div class="swiper-slide">
													<Picture src={dad} formats={['avif', 'webp']} alt="Dad, carry me" />
													<p>Dad, carry me</p>
												</div>
												<div class="swiper-slide">
													<Picture src={birdmen} formats={['avif', 'webp']} alt="Quiet Birdmen Association" />
													<p><a target="_blank" class="underline" href="https://en.wikipedia.org/wiki/Quiet_Birdmen">Quiet Birdmen Association</a></p>
												</div>
												<div class="swiper-slide">
													<Picture src={alright} formats={['avif', 'webp']} alt="Alright, I won't leave you" />
													<p>Alright, I won't leave you</p>
												</div>
											</div>
											<div class="swiper-pagination swiper-pagination-h"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="line-vert right"></div>

	<section>
		<div class="container border-container article">
			<div class="flex padding-x align-middle borders grey-bg">
				<div class="cell small-18 medium-10 large-10">
					<h2>An Interest in Colour</h2>
					<p class="width justify">
						Learning about the effects of colour in context to each other, when mixed together to achieve a particluar hue or tone, and discovering the "<a
							target="_blank"
							class="underline"
							href="https://www.ways-of-seeing.com/">Ways of Seeing</a
						>" the visual and psychological implications of colour and form by great artists has been an ongoing interest, including the example below.
					</p>
					<p class="width justify">
						A friend introduced me to Scientific American magazine with this issue that included an <a target="_blank" class="underline" href="./Scientific-American-Pollock.pdf">article</a> about a study
						looking for patterns in Jackson Pollock drip paintings. At first glance, it seems unlikely that something systematic could be found in the expressive and physical act of randomly flinging paint
						off of a brush onto a canvas that he stood on. However, the computer analyzed study found that there was, in fact, repeating fractal patterning in his work and that the means he took to arrive
						at that particular effect was deliberate.
					</p>
					<p class="width justify"><a target="_blank" class="underline" href="./Scientific-American-Pollock.pdf">More about fractals.</a></p>
					<p class="text-sm">
						<em>* Fractals are infinitely complex patterns that are self-similar across different scales. They are created by repeating a simple process over and over in an ongoing feedback loop.</em>
					</p>
				</div>
				<div class="cell small-18 medium-8 large-8" id="pollock">
					<a target="_blank" href="./Scientific-American-Pollock.pdf"><Image src={pollock} alt="Jackson Pollock article in Scientific American" /></a>
				</div>
			</div>
		</div>
	</section>

	<style>
		:root {
			#mining .swiper-slide {
				background: #f9f9f9 !important;
				margin-bottom: 0 !important;
				border: 0 !important;
			}
			#mining .swiper-slide img {
				margin: 0;
				border: 0 !important;
			}
			.swiper-slide img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			#slideshow-container .swiper-container {
				padding-bottom: 0;
			}
			#slideshow-container .borders {
				padding: 2.5rem 1% 3rem;
			}
			#slideshow-container .swiper-slide {
				background: #f9f9f9;
			}
			#slideshow-container h2 {
				margin-bottom: 1.5rem;
				text-align: left;
			}
			#slideshow-container .swiper-slide p,
			#slideshow-container .swiper-slide p a {
				padding-right: 15px;
				margin-top: -30px;
				text-align: right;
				color: #3a3a42;
			}
			#slideshow-container #portraits .swiper-slide p {
				color: #fff;
			}
			#slideshow-container #landscapes .swiper-slide p,
			#slideshow-container #landscapes .swiper-slide p a {
				margin-top: 30px;
				padding-right: 0;
				text-align: left;
			}
			#slideshow-container .container.images img {
				border: 0;
			}
			#slideshow-container .swiper-pagination-bullet-active {
				background: #ff9000;
			}
			.books {
				max-width: 1200px;
			}
			#pollock {
				text-align: center;
			}
			#pollock img {
				max-width: 300px;
				border: 1px #f2f2f2 solid;
				padding: 5px;
				border-radius: 3px;
				background: #fff;
			}
			.text-sm {
				margin-bottom: 0;
			}

			@media (max-width: 1024px) {
				#pollock img {
					margin-top: 2rem;
				}
			}

			@media (max-width: 500px) {
				#slideshow-container .borders,
				.borders {
					padding: 2.5rem 1.25rem 3rem;
				}
				.swiper-pagination-v .swiper-pagination-bullet {
					font-size: 0.75rem;
					padding: 0.6rem 0.5rem 0.5rem;
				}
			}

			@media (max-width: 450px) {
				.swiper-pagination-h .swiper-pagination-bullet {
					height: 9px !important;
					width: 9px !important;
				}
			}
			@media (max-width: 750px) {
				.article img {
					margin-top: 2rem;
				}
			}
		}
	</style>

	<!-- Swiper JS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

	<script>
		document.addEventListener('astro:page-load', () => {
			new Swiper('.elink', {
				effect: 'fade',
				speed: 1000,
				autoplay: {
					delay: 8000,
				},
			});

			// IMAGES
			var floor = ['Portraits', 'Landscapes', 'Drawings'];
			var direction = ['', '', '', '', '', '', '', '', '', ''];

			new Swiper('.swiper-container-v', {
				pagination: {
					el: '.swiper-pagination-v',
					clickable: true,
					renderBullet: function (index: number, className: string) {
						return '<span class="' + className + '">' + floor[index] + '</span>';
					},
				},
				direction: 'vertical',
				autoHeight: false,
				speed: 1000,
				spaceBetween: 25,
			});

			new Swiper('.swiper-container-h', {
				pagination: {
					pagination: '.swiper-pagination-h',
					el: '.swiper-pagination-h',
					clickable: true,
					renderBullet: function (index: number, className: string) {
						return '<span class="' + className + '">' + direction[index] + '</span>';
					},
				},
				//direction: 'horizontal',
				effect: 'fade',
				autoplay: false,
				speed: 1000,
				delay: 5000,
				autoHeight: false,
				spaceBetween: 25,
				nested: true,
			});
		});
	</script>
</Layout>
