---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';
import '../styles/swiper.scss';

import { Image } from 'astro:assets';
import { getImage } from 'astro:assets';

import anv from '../img/sites/anv.webp';
import loki from '../img/sites/loki.webp';
import riva from '../img/sites/riva.webp';
import pdac from '../img/sites/pdac.webp';
import ific from '../img/sites/ific.webp';
import tkk from '../img/sites/tkk.webp';
import rockcliff from '../img/sites/rockcliff.webp';
import queenston from '../img/sites/qmi.webp';
import harp from '../img/sites/harp.webp';
import logos from '../img/sites/logos.webp';
import pollock from '../img/pollock.webp';

import bunny from '../img/drawings/bunny.webp';
import triad from '../img/drawings/triad.webp';
import dad from '../img/drawings/carry-me.webp';
import spring from '../img/drawings/spring.webp';
import elder from '../img/drawings/elder.webp';
import melancholia from '../img/drawings/melancholia.webp';
import dreaming from '../img/drawings/dreaming.webp';
import cheezWhiz from '../img/drawings/cheez-whiz.webp';

import lebanonRoad from '../img/landscapes/lebanon-road.webp';
import flynns from '../img/landscapes/flynns.webp';

import misa2007 from '../img/portraits/misa-2007.webp';
import misa2009 from '../img/portraits/misa-2009.webp';
import misa2020 from '../img/portraits/misa-2020.webp';
import misa2021 from '../img/portraits/misa-2021.webp';
import liam2011 from '../img/portraits/liam-2011.webp';
import liam2013 from '../img/portraits/liam-2013.webp';
import liam2014 from '../img/portraits/liam-2014.webp';
---

<Layout pageTitle="About" pageSiteTitles="">
	<section>
		<div class="container top-of-page">
			<div class="flex padding-x not-dark">
				<div class="cell small-18">
					<h1>Marketing and Earlier</h1>
				</div>
			</div>
			<div id="intro" class="spacing-btm">
				<p class="width">
					After working in film production/post-production earlier in my career, I had the opportunity to work as a web-designer for Exploration Link Ltd., a boutique web-design company that provided
					print and web services to companies in the Mining and Exploration Industry.
				</p>
			</div>
		</div>
	</section>

	<section>
		<div class="container border-container">
			<div class="flex padding-x align-middle borders grey-bg">
				<div class="cell small-18 medium-10 small-order-2 medium-order-1">
					<div class="swiper elink">
						<div class="swiper-wrapper" id="mining">
							<div class="swiper-slide"><Picture src={anv} formats={['avif', 'webp']} alt="Allied Nevada" /></div>
							<div class="swiper-slide"><Picture src={loki} formats={['avif', 'webp']} alt="Loki Innovations" /></div>
							<div class="swiper-slide"><Picture src={ific} formats={['avif', 'webp']} alt="IFIC" /></div>
							<div class="swiper-slide"><Picture src={tkk} formats={['avif', 'webp']} alt="TKK" /></div>
							<div class="swiper-slide"><Picture src={riva} formats={['avif', 'webp']} alt="Riva Modeling" /></div>
							<div class="swiper-slide"><Picture src={tkk} formats={['avif', 'webp']} alt="Thundermin" /></div>
							<div class="swiper-slide"><Picture src={logos} formats={['avif', 'webp']} alt="Logos" /></div>
							<div class="swiper-slide"><Picture src={rockcliff} formats={['avif', 'webp']} alt="Rockcliff" /></div>
							<div class="swiper-slide"><Picture src={queenston} formats={['avif', 'webp']} alt="Queenston Engineering" /></div>
							<div class="swiper-slide"><Picture src={pdac} formats={['avif', 'webp']} alt="PDAC" /></div>
							<div class="swiper-slide"><Picture src={harp} formats={['avif', 'webp']} alt="Harp Capital" /></div>
						</div>
					</div>
				</div>
				<div class="cell small-18 medium-8 small-order-1 medium-order-2">
					<h2>Investor Relations</h2>
					<p>
						The following brochure sites, although dated, are examples from my initial introduction to HTML, CSS, jQuery, web-design, and content management for companies in the investor relations and
						software development industries.
					</p>
					<p>
						I was asked to create and unify branding between print, web, and tradeshow booths, as well as build HTML tabled websites, post news releases, edit video, modify and optimize images, and
						create Adobe Flash animations for web and banner Ads.
					</p>
					<!-- <p>
						<a target="_blank" class="underline" href="https://www.linkedin.com/in/doug-webster-7a82a12/">Doug Webster</a>, a Geogologist, started the company to meet the growing demand for an online
						presence for companies in the Mining and Exploration industry, including <a target="_blank" class="underline" href="https://pdac.ca/"
							>The Prospectors & Developers Association of Canada (PDAC)</a
						> and <a target="_blank" class="underline" href="https://www.kinross.com/">Kinross Gold</a>, to name a few.
					</p> -->
				</div>
			</div>
		</div>
	</section>

	<div class="line-vert right"></div>

	<section>
		<div class="container border-container">
			<div class="flex padding-x align-middle borders">
				<div class="cell small-18 medium-9 intro">
					<h2>Video Production</h2>
					<p class="slideInUp">
						Prior to Exploration Link, I worked for <a class="underline" target="_blank" href="https://imageslifemedia.com/">Images Life Media</a>, an event management video production company with a
						successful niche market in wedding biographies, corporate events, and commercial video services.
					</p>
					<p>
						I was responsible for shooting video and black and white 8mm & 16mm film, film to video transfers, and video editing and effects including mixed-media and photography, for clients in the
						Greater Toronto Area.
					</p>
				</div>
				<div class="cell small-18 medium-9">
					<video playsinline muted controls autoplay poster="" style="width: 100%;">
						<source src="/S2-Video-Wall.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
	</section>

	<div class="line-vert left"></div>

	<section id="slideshow-container">
		<div class="container border-container images" id="traditional">
			<div class="flex padding-x align-middle borders grey-bg">
				<div class="cell small-18">
					<h2>Side Projects</h2>
					<p>
						The following traditional media selections are examples from a number of side projects, including documenting my son and daughter in portraits as they have grown up, local urban and Google
						Maps "found" landscapes, and illustrations inspired by drawing lessons at our kitchen table - that began with a plush rabbit drying on the clothesline.
					</p>
					<div class="flex not-dark">
						<div class="cell small-18" id="swiper-vertical-nav">
							<div class="swiper-pagination swiper-pagination-v"></div>
						</div>
						<div class="cell small-18">
							<div class="swiper-container swiper-container-v">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="swiper-container swiper-container-h">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<Picture src={bunny} formats={['avif', 'webp']} alt="Bunny" />
													<p>Bunny</p>
												</div>
												<div class="swiper-slide">
													<Picture src={cheezWhiz} formats={['avif', 'webp']} alt="Cheese Whiz" />
													<p>Cheese Whiz</p>
												</div>
												<div class="swiper-slide">
													<Picture src={triad} formats={['avif', 'webp']} alt="Triad" />
													<p>Triad</p>
												</div>
												<div class="swiper-slide">
													<Picture src={elder} formats={['avif', 'webp']} alt="Butterfly Elder" />
													<p>Butterfly Elder</p>
												</div>
												<div class="swiper-slide">
													<Picture src={melancholia} formats={['avif', 'webp']} alt="Involuntary Melancholia" />
													<p>Involuntary Melancholia</p>
												</div>
												<div class="swiper-slide">
													<Picture src={dreaming} formats={['avif', 'webp']} alt="Dreaming of Mount Vesuvius" />
													<p>Dreaming of Mount Vesuvius</p>
												</div>
												<div class="swiper-slide">
													<Picture src={spring} formats={['avif', 'webp']} alt="spring" />
													<p>Spring</p>
												</div>
												<div class="swiper-slide">
													<Picture src={dad} formats={['avif', 'webp']} alt="Dad, carry me" />
													<p>Dad, carry me</p>
												</div>
											</div>
											<div class="swiper-pagination swiper-pagination-h"></div>
										</div>
									</div>

									<div class="swiper-slide">
										<div class="swiper-container swiper-container-h">
											<div class="swiper-wrapper" id="portraits">
												<div class="swiper-slide">
													<Picture src={liam2011} formats={['avif', 'webp']} alt="Liam" />
													<p>Liam 2010</p>
												</div>
												<div class="swiper-slide">
													<Picture src={liam2013} formats={['avif', 'webp']} alt="Liam" />
													<p>Liam 2012</p>
												</div>
												<div class="swiper-slide">
													<Picture src={liam2014} formats={['avif', 'webp']} alt="Liam" />
													<p>Liam 2014</p>
												</div>
												<div class="swiper-slide">
													<Picture src={misa2007} formats={['avif', 'webp']} alt="Misa" />
													<p>Misa 2007</p>
												</div>
												<div class="swiper-slide">
													<Picture src={misa2009} formats={['avif', 'webp']} alt="Misa" />
													<p>Misa 2009</p>
												</div>
												<div class="swiper-slide">
													<Picture src={misa2020} formats={['avif', 'webp']} alt="Misa" />
													<p>Misa 2019</p>
												</div>
												<div class="swiper-slide">
													<Picture src={misa2021} formats={['avif', 'webp']} alt="Misa" />
													<p>Misa 2021</p>
												</div>
											</div>
											<div class="swiper-pagination swiper-pagination-h"></div>
										</div>
									</div>

									<div class="swiper-slide" id="landscapes">
										<div class="swiper-container swiper-container-h">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<Picture src={lebanonRoad} formats={['avif', 'webp']} alt="" />
													<p>
														<strong>GOOGLE MAPS</strong><br />God's House, Lebanon Rd, Pembroke, Giles, Virginia<br />
														<a target="_blank" class="underline" href="https://maps.app.goo.gl/shfugEJfF2Eb86dX6">Coordinates</a>
													</p>
												</div>
												<div class="swiper-slide">
													<Picture src={flynns} formats={['avif', 'webp']} alt="" /><p>
														<strong>GOOGLE MAPS</strong><br />Flynns General Store & Gas<br />29 County Rd 507, Buckhorn, Ontario<br /><a
															target="_blank"
															class="underline"
															href="https://maps.app.goo.gl/2PA1kCvhNLF5f8K58">Coordinates</a
														>
													</p>
												</div>
											</div>
											<div class="swiper-pagination swiper-pagination-h"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="line-vert right"></div>

	<section>
		<div class="container border-container books">
			<div class="flex padding-x align-middle borders">
				<div class="cell small-18 medium-12">
					<h1>Colour Theory</h1>
					<p>
						The ongoing process of learning the effects of colour in context to each other, when mixing together to achieve a particluar hue or tone, and the visual and psychological implications of
						colour and form by great artists has always interested to me, including the example below.
					</p>
					<p>
						A friend introduced me to Scientific American magazine with <a target="_blank" class="underline" href="/Scientific-American-Pollock.pdf">an article</a> about a scientific study looking for
						repeating patterns in Jackson Pollock drip paintings. At first glance, it appears unlikely that something systematic could be found from the expressive physical act of randomly flinging paint
						off of a brush onto a canvas that he stood on. However, the computer analyzed study found that there was in fact repeating fractal patterning in his work, and that the means he took to arrive
						at that particular effect were deliberate.
					</p>
					<p class="text-sm">
						<em>* Fractals are infinitely complex patterns that are self-similar across different scales. They are created by repeating a simple process over and over in an ongoing feedback loop.</em>
					</p>
				</div>
				<div class="cell small-18 medium-6" id="pollock">
					<a target="_blank" href="/Scientific-American-Pollock.pdf"><Image src={pollock} class="borders light" alt="Jackson Pollock article in Scientific American" /></a>
				</div>
			</div>
		</div>
	</section>

	<div class="line-vert left"></div>

	<section>
		<div class="container border-container films">
			<div class="flex padding-x align-middle borders">
				<div class="cell small-18 medium-9">
					<h1>Favourite Films</h1>
					<p>Coming soon.</p>
				</div>
				<div class="cell small-18 medium-9"></div>
			</div>
		</div>
	</section>

	<div class="line-vert right"></div>

	<section>
		<div class="container border-container books">
			<div class="flex padding-x align-middle borders">
				<div class="cell small-18 medium-9">
					<h1>Favourite Books</h1>
					<p>Coming soon.</p>
				</div>
				<div class="cell small-18 medium-9"></div>
			</div>
		</div>
	</section>

	<style>
		:root {
			#mining .swiper-slide {
				background: #f9f9f9 !important;
			}
			#mining .swiper-slide p {
				padding: 1.5rem 0 0;
			}
			.swiper-pagination {
				bottom: -25px !important;
			}
			.swiper-pagination-bullet-active {
				background: #ff9000;
			}
			#slideshow-container .swiper {
				display: flex;
				flex-direction: column;
				align-items: center;
				background: #f9f9f9;
			}
			#slideshow-container .swiper-slide {
				margin-bottom: 50px !important; /* For vertical Swiper */
				margin-right: 50px !important; /* For horizontal Swiper */
			}
			#slideshow-container .swiper-slide p {
				padding-right: 10px;
				margin-top: -25px;
				text-align: right;
			}
			#slideshow-container #landscapes .swiper-slide p {
				padding-right: 10px;
				margin-top: 25px;
			}
			.books {
				max-width: 1200px;
			}
			#pollock {
				text-align: center;
			}
			#pollock img {
				max-width: 300px;
			}
		}
	</style>

	<!-- Swiper JS -->
	<link rel="stylesheet" href="../src/styles/swiper-bundle.min.css" />
	<script is:inline src="../src/scripts/swiper.js"></script>

	<script>
		document.addEventListener('astro:page-load', () => {
			new Swiper('.elink', {
				mousewheel: true,
				keyboard: true,
				autoplay: true,
				speed: 1000,
				delay: 5000,
				effect: 'fade',
				pagination: {
					el: '.swiper-pagination',
					renderBullet: function (className: string) {
						return '<span class="' + className + '"></span>';
					},
					clickable: true,
				},
			});

			// IMAGES
			var floor = ['Drawings', 'Portraits', 'Landscape'];
			var direction = ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''];

			new Swiper('.swiper-container-v', {
				pagination: {
					el: '.swiper-pagination-v',
					clickable: true,
					autoHeight: true,
					renderBullet: function (index: number, className: string) {
						return '<span class="' + className + '">' + floor[index] + '</span>';
					},
				},
				lazy: true,
				speed: 1000,
				direction: 'vertical',
				autoHeight: false,
				spaceBetween: 50,
			});

			new Swiper('.swiper-container-h', {
				lazy: true,
				pagination: {
					pagination: '.swiper-pagination-h',
					el: '.swiper-pagination-h',
					clickable: true,
					autoHeight: true,
					renderBullet: function (index: number, className: string) {
						return '<span class="' + className + '">' + direction[index] + '</span>';
					},
				},
				speed: 1000,
				direction: 'horizontal',
				effect: 'fade',
				spaceBetween: 50,
				autoplay: true,
				autoHeight: false,
				nested: true,
			});
		});
	</script>
</Layout>
