---
import Layout from '../layouts/Layout.astro';
import PictureComponent from '../components/PictureComponent.astro';
import { Picture } from 'astro:assets';
import { Image } from 'astro:assets';
import { items } from '../data/index.ts';
import '../styles/form.scss';
import '../styles/swiper.scss';
import '../styles/residences.scss';
import ItemCard from '../components/ItemCard.astro';
import resume from '../img/resume.webp';
import html7Dale from '../img/htmls/7dale.jpg';
import htmlMRC from '../img/htmls/mrc.jpg';
import htmlDiamond from '../img/htmls/diamond.jpg';
import htmlWinslow from '../img/htmls/winslow.jpg';
import htmlVanguard from '../img/htmls/vanguard.jpg';
import kingsway2 from '../img/htmls/kingsway.webp';
import laptop from '../img/laptop.png';
import mobile from '../img/mobile.png';
import placeholder from '../img/residences-placeholder.webp';
import placeholderMobile from '../img/residences-placeholder-mobile.webp';
---

<Layout pageTitle="Past & Current Work" pageSiteTitles="">
	<section>
		<div class="container top-of-page btm" id="intro">
			<div class="flex padding-x">
				<div class="cell small-18">
					<h1 id="greeting" class="slideInUp"></h1>
				</div>
			</div>
			<div class="flex padding-x">
				<div class="cell small-18">
					<p class="justify width">
						With years of experience as a <strong class="bold">Frontend Web Developer</strong> and a background in web design and multimedia, my expertise lies in developing user-friendly, performant,
						responsive registration websites for clients in the <strong>Real Estate</strong>, <strong>Resort</strong>, and <strong>Investor Relations</strong> industries.
					</p>
					<p>
						<em>For more detailed information</em>, please see my <span class="tooltip resume"
							><a href="./Jeff-McKean-Resume.pdf" target="_blank"><strong>resume</strong><span class="tooltip-text"><Image src={resume} alt="resume" /></span></a></span
						>.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="current-sites">
		<div class="container">
			<div class="flex padding-x">
				<div class="cell small-18">
					<h2 class="border-top">Active Sites</h2>
					<p class="justify width">
						The following custom designs were created for <a target="_blank" href="https://pbmarketing.ca" class="underline" aria-label="offsite link to
						pbmarketing.ca"
							><strong>P+B Marketing</strong></a
						>, a full-service marketing and communications agency that specializes in branding lifestyles across the real estate, hospitality, and service industries.
					</p>
					<p class="justify width">Click on a site for details and a link to the live site.</p>
					<br />
				</div>
				<div class="cell small-18 filter" id="filter-sites">
					<p class="bold">Filter by build type:</p>
					<div>
						<ul>
							<li><button class="filter-btn">PHP</button></li>
							<li><button class="filter-btn">Astro</button></li>
							<li><button class="filter-btn">CMS</button></li>
						</ul>
					</div>

					<!-- <div class="flex" id="sites">
						{items.map((item) => <ItemCard {item} />)}
					</div> -->
				</div>
			</div>
		</div>
		<div class="flex easing" id="sites">
			{items.map((item) => <ItemCard {item} />)}
		</div>
	</section>

	<section id="htmls-container">
		<div class="container top">
			<div class="flex padding-x">
				<div class="cell small-18">
					<h2 class="border-top">HTML Email Campaigns</h2>
				</div>
				<div class="cell small-18">
					<p class="width justify">
						This selection of <strong>HTML Email Ad campaigns</strong> were hand-coded in <strong>Visusal Studio Code</strong>, tested in <strong>Litmus</strong>, and deployed through <strong
							>Mailchimp</strong
						>.
					</p>
					<div class="cell small-18 p-before-form">
						<!-- <p class="width">To receive a test in your inbox (not set up yet), please enter your email address, select one of the examples and click send.</p> -->
					</div>
				</div>
			</div>
			<div>
				<form id="htmls" method="POST">
					<div class="email-container">
						<input type="email" name="email" class="email" placeholder="Email (not set up yet)" required />
						<span class="helperText">EMAIL</span>
					</div>
					<div class="response"></div>
					<input class="btn" name="submit" type="submit" value="SEND" />

					<div id="campaigns" class="easing">
						<div>
							<label class="label" for="dale">
								<input type="radio" name="campaign" value="dale" id="dale" class="radio-input" />
								<div class="radio-design"></div>
							</label>
							<Picture src={html7Dale} formats={['avif', 'webp']} alt="7 Dale" />
						</div>
						<div>
							<label class="label" for="mrc">
								<input type="radio" name="campaign" value="mrc" id="mrc" class="radio-input" />
								<div class="radio-design"></div>
							</label>
							<Picture src={htmlMRC} formats={['avif', 'webp']} alt="Marina Resort Cavtat" />
						</div>
						<div>
							<label class="label" for="winslow">
								<input type="radio" name="campaign" value="winslow" id="winslow" class="radio-input" />
								<div class="radio-design"></div>
							</label>
							<Picture src={htmlWinslow} formats={['avif', 'webp']} alt="The Winslow" />
						</div>
						<div>
							<label class="label" for="vanguard">
								<input type="radio" name="campaign" value="vanguard" id="vanguard" class="radio-input" />
								<div class="radio-design"></div>
							</label>
							<Picture src={htmlVanguard} formats={['avif', 'webp']} alt="The Vanguard" />
						</div>
						<div>
							<label class="label" for="diamond">
								<input type="radio" name="campaign" value="diamond" id="diamond" class="radio-input" />
								<div class="radio-design"></div>
							</label>
							<Picture src={htmlDiamond} formats={['avif', 'webp']} alt="The Diamond Rentals" />
						</div>
						<div>
							<label class="label" for="kingsway">
								<input type="radio" name="campaign" value="kingsway" id="kingsway" class="radio-input" />
								<div class="radio-design"></div>
							</label>
							<Picture src={kingsway2} formats={['avif', 'webp']} alt="Kingsway By The River" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

	<section id="featured-site">
		<div class="container featured-site-bg">
			<div class="intro">
				<div class="flex padding-x">
					<div class="cell small-18">
						<h2>Featured Site</h2>
						<p class="width justify">
							<strong><a class="underline" href="/mrc">Marina Resort Cavtat</a></strong> is a multi-lingual registration landing page for an up and coming resort in Croatia. The full site (coming soon)
							is built using <a class="underline" target="_blank" href="https://astro.build/">Astro JS</a> and includes GSAP, Scrolltrigger, and SplitText parallaxing.
						</p>
						<p class="width justify">The plane animation concept reveals distances to the resort from major cities and toggles between a mobile and desktop version at 900 pixels.</p>
						<p>The form is integrated with Salesforce Marketing Cloud through <a class="underline" target="_blank" href="https://onyx-technologies.com/">Onyx Technologies</a>.</p>
					</div>
				</div>
			</div>

			<div class="flex display-formats">
				<div class="laptop-container">
					<Image src={laptop} class="device-mask" alt="Laptop" />
					<video class="site-video" autoplay playsinline muted loop poster="">
						<source src="/mrc-laptop.mp4" type="video/mp4" />
					</video>
				</div>
				<div class="mobile-container">
					<Image src={mobile} class="device-mask" alt="Mobile Mask" />
					<video class="mobile-video" autoplay playsinline muted loop poster="">
						<source src="/mrc-mobile.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
			<div id="timeline">
				<video class="timeline" preload="none" playsinline autoplay muted loop style="pointer-events: none;" poster="./timeline-poster-desktop.webp">
					<source src="./timeline-desktop.mp4" type="video/mp4" media="all and (min-width:850px)" />
					<source src="./timeline-mobile.mp4" type="video/mp4" media="all and (max-width:849px)" />
				</video>
			</div>

			<div id="floorplan-ui">
				<div id="floorplans">
					<div class="select-below">
						<h2>Resort Floor Plan UI</h2>
						<p class="width justify">I was asked to create a User Interface for the floor plans page to guide users through the floor plan selection process.</p>
						<p>
							<ol>
								<li>Select a <strong>NUMBER OF BEDROOMS</strong></li>
								<li>Select a <strong>RESIDENCE TYPE</strong></li>
								<li>Select a <strong>SUITE NUMBER</strong></li>
							</ol>
						</p>
						<p><em>Choose either of the two options below to load a floor plan:</em></p>
						<p class="width plan-examples">
							2 Bedrooms <span>•</span> D1 <span>•</span> 601<br />
							4 Bedrooms <span>•</span> Seaside Villas <span>•</span> A1
						</p>
					</div>
					<h3>Select A Bedroom Number</h3>
					<div class="residence-choice">
						<select name="bedroomNumber" id="bedroomNumber">
							<option value="disabled">NUMBER OF BEDROOMS</option>
							<option value="1 Bedroom">1 Bedroom</option>
							<option value="2 Bedrooms">2 Bedrooms</option>
							<option value="3 Bedrooms">3 Bedrooms</option>
							<option value="4 Bedrooms">4 Bedrooms</option>
						</select>
						<select name="residenceType" id="residenceType" disabled>
							<option value="disabled">RESIDENCE TYPE</option>
						</select>
						<select name="suites" id="suites" disabled>
							<option value="disabled">SELECT SUITE</option>
						</select>
					</div>
					<div class="residence-plans">
						<PictureComponent mobileImgUrl={placeholderMobile} desktopImgUrl={placeholder} loading="lazy" className="clip-image" alt="Marina Resort Cavtat" />
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="featured-videos">
		<div class="container top">
			<div class="flex padding-x">
				<div class="cell small-18">
					<h2 class="border-top">Social Media Ads</h2>
					<p class="width">These Ads are (the 1:1 aspect ratio versions) from a number of Facebook and Google Ad campaigns created using Adobe Animate.</p>
					<br />
				</div>
			</div>
		</div>

		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/diamond-mobile.mp4" type="video/mp4" />
					</video>
					<h3>Residential Highrise Rentals</h3>
				</div>
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/Fortune-District-Ad-1.mp4" type="video/mp4" />
					</video>
					<h3>Commercial Space</h3>
				</div>
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/Greehaus-1080.mp4" type="video/mp4" />
					</video>
					<h3>Condominiums</h3>
				</div>
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/MRC-Facebook.mp4" type="video/mp4" />
					</video>
					<h3>Resort</h3>
				</div>
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/Greenhaus-sky.mp4" type="video/mp4" />
					</video>
					<h3>Condominiums</h3>
				</div>
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/MRC-Ad-1.mp4" type="video/mp4" />
					</video>
					<h3>Resort</h3>
				</div>
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/BlueVista-Summer.mp4" type="video/mp4" />
					</video>
					<h3>Residential Community</h3>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="flex padding-x">
				<div class="cell small-18">
					<h2 class="border-top">9 Panel Video Wall</h2>
					<p class="justify width">I was asked to create a 9 panel video wall for a Sales Centre. The idea was to reveal each rendering with an animated delay for each panel between transitions.</p>
				</div>
			</div>
			<div style="margin: 2rem auto 1rem; max-width:1400px;text-align:center;">
				<video playsinline muted controls poster="" style="width: 100%; ">
					<source src="/S2-Video-Wall.mp4" type="video/mp4" />
				</video>
			</div>
		</div>
	</section>
</Layout>

<script is:inline src="/residences.js"></script>

<script>
	document.addEventListener('astro:page-load', () => {
		const date = new Date();
		const timeOfDay = date.getHours();
		let greeting;

		if (timeOfDay < 12) {
			greeting = 'Good morning,';
		} else if (timeOfDay < 17) {
			greeting = 'Good afternoon,';
		} else {
			greeting = 'Good evening,';
		}

		const greetingElement = document.getElementById('greeting');
		if (greetingElement) {
			greetingElement.innerHTML = '<h1>' + greeting + '</h1>';
		}
	});
</script>

<!-- <script is:inline src="/gsap.min.js"></script>
<script is:inline src="/ScrollSmoother.min.js"></script>
<script is:inline src="/ScrollTrigger.min.js"></script> -->
<!-- 
<script is:inline>
	document.addEventListener('astro:page-load', () => {
		function initAnimations() {

			let smoother = ScrollSmoother.create({
				smooth: 1,
				effects: true,
			});

			smoother.effects('#htmls .easing > div', {
				speed: 1,
				lag: (i) => i * 0.02,
			});

			gsap.timeline({
				scrollTrigger: {
					trigger: '.easing',
					id: 'culture',
					start: 'top 95%',
					end: 'top 50%',
					scrub: 1,
					//markers: true
				},
			});
		}
		initAnimations();
	});
</script> -->

<script is:inline>
	document.addEventListener('astro:page-load', () => {
		const form = document.getElementById('htmls');
		// const radioButtons = document.querySelectorAll('.radio-input');
		// const isRadioChecked = Array.from(radioButtons).some((radio) => radio.checked);

		// radioButtons.forEach((radio) => {
		// 	radio.addEventListener('change', function () {
		// 		console.log(`${radio.value}`);
		// 		if (radio.checked) {
		// 			if (radio.value === 'dale') {
		// 				form.action = './netlify/functions/dale.php';
		// 				console.log(`${form.action}`);
		// 			} else if (radio.value === 'mrc') {
		// 				form.action = './htmls/mrc.php';
		// 			} else if (radio.value === 'winslow') {
		// 				form.action = './htmls/winslow.php';
		// 			} else if (radio.value === 'vanguard') {
		// 				form.action = './htmls/vanguard.php';
		// 			} else if (radio.value === 'diamond') {
		// 				form.action = './htmls/diamond.php';
		// 			} else if (radio.value === 'kingsway') {
		// 				form.action = './htmls/kingsway.php';
		// 			} else {
		// 				form.action = '';
		// 			}
		// 		}
		// 	});

		//console.log(form);

		form.addEventListener('submit', async function (e) {
			e.preventDefault();

			const email = form.querySelector('input[name="email"]').value;
			const responseDiv = document.querySelector('.response');

			// if (!isRadioChecked) {
			// 	responseDiv.innerHTML = `<p style="color: #ff8000;">Please select one of the HTMLs below and try again.</p>`;
			// 	return;
			// }

			try {
				const response = await fetch('/.netlify/functions/sendEmail.php', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({ email }),
				});

				console.log(email);

				const result = await response.json();
				if (result.success) {
					responseDiv.innerHTML = `<p style="color: #ff8000;">${result.message}</p>`;
				} else {
					responseDiv.innerHTML = `<p style="color: #ff8000;">${result.message}</p>`;
				}
			} catch (error) {
				responseDiv.innerHTML = `<p style="color: red;">An error occurred. Please try again later.</p>`;
			}
		});
	});
</script>

<script is:inline>
	document.addEventListener('astro:page-load', () => {
		const filterButtons = document.querySelectorAll('.filter-btn');
		const sites = document.querySelectorAll('#sites .site');
		const filterSites = document.querySelector('#filter-sites ul');

		function addAllButton() {
			// Check if the "All" button already exists
			if (!document.querySelector('.filter-btn-all')) {
				const createLi = document.createElement('li');
				const createFilterBtn = document.createElement('button');
				createFilterBtn.classList.add('filter-btn', 'filter-btn-all');
				createFilterBtn.textContent = 'All';
				createLi.appendChild(createFilterBtn);
				filterSites.insertBefore(createLi, filterSites.firstChild);

				// Add event listener to the "All" button
				createFilterBtn.addEventListener('click', () => {
					filterButtons.forEach((btn) => btn.classList.remove('active'));
					createFilterBtn.classList.add('active');
					sites.forEach((site) => (site.style.display = 'block'));
				});
			}
		}

		filterButtons.forEach((button) => {
			button.addEventListener('click', () => {
				filterButtons.forEach((btn) => btn.classList.remove('active'));
				button.classList.add('active');

				const allButton = document.querySelector('.filter-btn-all');
				if (allButton) {
					allButton.classList.remove('active');
				}

				const filterType = button.textContent.trim();

				sites.forEach((site) => {
					const dataCategory = site.getAttribute('data-category');
					if (dataCategory === filterType || filterType === 'All') {
						site.style.display = 'block';
					} else {
						site.style.display = 'none';
					}
				});

				addAllButton();
			});
		});
	});
</script>

<script>
	const mainVideo = document.querySelector('.timeline');
	const desktopVideo = './timeline-desktop.mp4';
	const mobileVideo = './timeline-mobile.mp4';
	const desktopPoster = './timeline-poster-desktop.webp';
	const mobilePoster = './timeline-poster-mobile.webp';
	const winWidth = window.innerWidth;

	if (mainVideo) {
		if (winWidth < 850) {
			mainVideo.setAttribute('poster', mobilePoster);
		} else {
			mainVideo.setAttribute('poster', desktopPoster);
		}
	}

	window.addEventListener('resize', function () {
		const winWidth = window.innerWidth;

		if (mainVideo) {
			if (winWidth < 850) {
				mainVideo.setAttribute('poster', mobilePoster);
				mainVideo.setAttribute('src', mobileVideo);
			} else {
				mainVideo.setAttribute('poster', desktopPoster);
				mainVideo.setAttribute('src', desktopVideo);
			}
		}
	});
</script>

<style>
	:root {
		.swiper {
			padding-bottom: 3rem;
		}
		.swiper-pagination {
			width: 100%;
			bottom: 0;
		}
		.swiper-pagination-bullet {
			background: #021e42;
			cursor: pointer;
			width: 12px;
			height: 12px;
			opacity: 1 !important;
		}
		.swiper-pagination-bullet-active {
			background: #ff9000;
		}
		.swiper-slide {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			background: none;
		}
	}
</style>

<script>
	import Swiper from 'swiper';
	import { Pagination, Autoplay } from 'swiper/modules';
	Swiper.use([Autoplay]);
	import 'swiper/scss';
	import 'swiper/scss/effect-fade';
	import 'swiper/scss/pagination';

	document.addEventListener('astro:page-load', () => {
		function initializeSwipers() {
			new Swiper('.swiper', {
				modules: [Pagination],
				freeMode: true,
				speed: 1000,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
				breakpoints: {
					2200: {
						slidesPerView: 5,
					},
					1700: {
						slidesPerView: 4,
					},
					1200: {
						slidesPerView: 3,
					},
					650: {
						slidesPerView: 2,
					},
					400: {
						slidesPerView: 1,
					},
				},
			});
		}

		initializeSwipers();
	});
</script>

<style>
	/* -------------------
	 VIDEOS
	 ------------------- */
	#featured-videos {
		padding-bottom: 5rem;
	}

	#featured-videos video {
		margin-bottom: 1rem;
	}
	#featured-videos h3 {
		font-size: min(max(1.5rem, 2.5vw), 28px);
	}
	#featured-videos video::-webkit-media-controls-volume-slider {
		display: none;
	}
	#featured-videos video::-webkit-media-controls-mute-button {
		display: none;
	}

	#featured-videos .swiper video {
		padding: 0 1.25rem;
	}

	/* =============================================
			FEATURED SITE
	================================================ */
	#featured-site .container.featured-site-bg {
		margin-top: 75px;
		padding: 0 0 1rem;
		max-width: 1360px;
		background: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 34%, rgba(255, 255, 255, 1) 65%, rgba(240, 240, 240, 1) 100%);
		border-radius: 3px;
		border: 1px #3a3a42 solid;
	}

	#featured-site .container {
		padding-top: 50px;
	}

	#featured-site .intro {
		padding: 50px 2rem;
	}

	#featured-site .container .plan-examples span {
		font-family: 'CalibriRegular';
		font-size: 1.1rem;
	}

	#featured-site .flex {
		justify-content: center;
	}

	#timeline {
		margin: 2rem auto 0;
		max-width: 1400px;
		width: 100%;
	}

	#timeline .timeline {
		width: 100%;
	}

	@media (max-width: 1400px) {
		#featured-site .container.featured-site-bg {
			margin-top: 50px;
			padding: 50px 0 1.5rem;
			border-radius: 0;
			border: 0;
		}
		#featured-site .intro {
			padding: 50px 1.25rem;
		}
		#featured-site .intro h2 {
			border-top: 1px #3a3a42 solid;
			padding-top: 1.5rem;
		}
	}

	/* -------------------
	 LAPTOP & MOBILE 
	 ------------------- */
	.display-formats {
		align-items: center;
		gap: 3rem;
		padding: 0 1.25rem;
	}

	.display-formats .laptop-container {
		flex: 1 1 0;
		position: relative;
		padding: 100px 0 150px;
	}

	.display-formats .mobile-container {
		flex: 0 1 auto;
		position: relative;
		max-width: 250px;
		padding: 50px 0;
	}

	.device-mask {
		position: absolute;
		width: 100%;
		margin: 0 auto;
	}

	.site-video {
		width: 79%;
		margin: 4% auto 0;
		border-radius: 10px;
	}

	.mobile-video {
		width: 95%;
		margin: 4% auto 0;
		border-radius: 20px;
	}

	@media (max-width: 1000px) {
		.display-formats {
			flex-direction: column;
			gap: 1rem;
		}
		.display-formats .laptop-container {
			padding: 50px 0 50px;
		}
	}

	@media (max-width: 500px) {
		.display-formats .mobile-container {
			max-width: 100%;
			width: 65%;
			padding: 0 0 5rem;
		}
		.mobile-video {
			width: 63%;
			margin: 0.2rem auto 0;
			left: 0;
			right: 0;
		}
		.display-formats .mobile-container img {
			width: 65%;
			margin: 0 auto;
			left: 0;
			right: 0;
		}
	}
</style>
