---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';
import { Image } from 'astro:assets';
import { items } from '../data/index.ts';
import '../styles/form.scss';
import '../styles/swiper.scss';
import ItemCard from '../components/ItemCard.astro';
import html7Dale from '../img/htmls/7dale.jpg';
import htmlMRC from '../img/htmls/mrc.jpg';
import htmlDiamond from '../img/htmls/diamond.jpg';
import htmlWinslow from '../img/htmls/winslow.jpg';
import htmlVanguard from '../img/htmls/vanguard.jpg';
import kingsway2 from '../img/htmls/kingsway.webp';
import laptop from '../img/laptop.png';
import mobile from '../img/mobile.png';
---

<Layout pageTitle="Past & Current Work" pageSiteTitles="">
	<section>
		<div class="container top-of-page btm" id="intro">
			<div class="flex padding-x">
				<div class="cell small-18">
					<h1 id="greeting" class="slideInUp"></h1>
				</div>
			</div>
			<div class="flex padding-x">
				<div class="cell small-18">
					<p class="justify width">
						I have a background in <strong>Visual Arts</strong> and <strong>Multimedia</strong> and have been working as a <strong class="bold">Frontend Web Developer</strong> for clients in the real estate
						development, engineering, and investor relations industries.
					</p>
					<p>
						For more detailed information, please see my <a class="underline" href="./Jeff-McKean-Resume.pdf" target="_blank"><strong>resume</strong></a>.
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- <video class="video-bg" playsinline autoplay muted loop style="width: 100%;position:absolute;top:0;left:0;z-index:0;pointer-events:none" poster="">
		<source src="./video-bg3.mp4" type="video/mp4" />
	</video> -->
	<section id="current-sites">
		<div class="container">
			<div class="flex padding-x">
				<div class="cell small-18">
					<h2 class="border-top">Active Sites</h2>
					<p class="justify width">
						The following custom designed website examples were created for <a target=" _blank" href="https://pbmarketing.ca/" class="underline" aria-label="offsite link to
						pbmarketing.ca"
							><strong>P+B Marketing</strong></a
						>, a full-service marketing and communications agency that specializes in branding lifestyles across the real estate, hospitality, and service industries.
					</p>
					<p class="justify width">Click on a site for details and a link to the live site.</p>
					<br />
				</div>
				<div class="cell small-18 filter" id="filter-sites">
					<p class="bold">Filter by build type:</p>
					<div>
						<ul>
							<li><button class="filter-btn">PHP</button></li>
							<li><button class="filter-btn">Astro</button></li>
							<li><button class="filter-btn">CMS</button></li>
						</ul>
					</div>

					<!-- <div class="flex" id="sites">
						{items.map((item) => <ItemCard {item} />)}
					</div> -->
				</div>
			</div>
		</div>
		<div class="flex" id="sites">
			{items.map((item) => <ItemCard {item} />)}
		</div>
	</section>

	<section id="htmls-container">
		<div class="container top">
			<div class="flex padding-x">
				<div class="cell small-18">
					<h2 class="border-top">HTML Email Campaigns</h2>
				</div>
				<div class="cell small-18">
					<p class="width justify">
						This selection of <strong>HTML Email Ad campaigns</strong> were hand-coded in <strong>Visusal Studio Code</strong>, tested in <strong>Litmus</strong>, and deployed through <strong
							>Mailchimp</strong
						>.
					</p>
					<div class="cell small-18 p-before-form">
						<p class="width">To receive a test in your inbox (not set up yet), please enter your email address, select one of the examples and click send.</p>
					</div>
				</div>
			</div>
			<div>
				<form id="htmls" method="POST">
					<input type="email" name="email" class="email" placeholder="Email" required />
					<div class="response"></div>
					<input class="btn" name="submit" type="submit" value="SEND" />

					<div id="campaigns">
						<div>
							<label class="label" for="dale">
								<input type="radio" name="campaign" value="dale" id="dale" class="radio-input" />
								<div class="radio-design"></div>
							</label>
							<Picture src={html7Dale} formats={['avif', 'webp']} alt="7 Dale" />
						</div>
						<div>
							<label class="label" for="mrc">
								<input type="radio" name="campaign" value="mrc" id="mrc" class="radio-input" />
								<div class="radio-design"></div>
							</label>
							<Picture src={htmlMRC} formats={['avif', 'webp']} alt="Marina Resort Cavtat" />
						</div>
						<div>
							<label class="label" for="winslow">
								<input type="radio" name="campaign" value="winslow" id="winslow" class="radio-input" />
								<div class="radio-design"></div>
							</label>
							<Picture src={htmlWinslow} formats={['avif', 'webp']} alt="The Winslow" />
						</div>
						<div>
							<label class="label" for="vanguard">
								<input type="radio" name="campaign" value="vanguard" id="vanguard" class="radio-input" />
								<div class="radio-design"></div>
							</label>
							<Picture src={htmlVanguard} formats={['avif', 'webp']} alt="The Vanguard" />
						</div>
						<div>
							<label class="label" for="diamond">
								<input type="radio" name="campaign" value="diamond" id="diamond" class="radio-input" />
								<div class="radio-design"></div>
							</label>
							<Picture src={htmlDiamond} formats={['avif', 'webp']} alt="The Diamond Rentals" />
						</div>
						<div>
							<label class="label" for="kingsway">
								<input type="radio" name="campaign" value="kingsway" id="kingsway" class="radio-input" />
								<div class="radio-design"></div>
							</label>
							<Picture src={kingsway2} formats={['avif', 'webp']} alt="Kingsway By The River" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

	<div class="container" id="featured-site-heading">
		<div class="flex padding-x">
			<div class="cell small-18">
				<h2 class="border-top">Featured Site</h2>
				<p class="width justify">
					<strong><a class="underline" href="/mrc">Marina Resort Cavtat</a></strong> is a multilingual registration landing page for an up and coming resort in Croatia (full site available soon) is built
					using <a class="underline" target="_blank" href="https://astro.build/">Astro JS</a> and includes GSAP, Scrolltrigger, and SplitText parallaxing.
				</p>
				<p class="width justify">The plane animation concept reveals distances to the resort from major cities and toggles between a mobile and desktop version at 900 pixels.</p>
				<p>The form is integrated with Salesforce Marketing Cloud through <a class="underline" target="_blank" href="https://onyx-technologies.com/">Onyx Technologies</a>.</p>
			</div>
		</div>
	</div>

	<section id="featured-site">
		<div class="container btm featured-site-bg">
			<div class="flex display-formats">
				<div class="laptop-container">
					<Image src={laptop} class="device-mask" alt="Laptop" />
					<video class="site-video" autoplay playsinline muted loop poster="">
						<source src="/mrc-laptop.mp4" type="video/mp4" />
					</video>
				</div>
				<div class="mobile-container">
					<Image src={mobile} class="device-mask" alt="Mobile Mask" />
					<video class="mobile-video" autoplay playsinline muted loop poster="">
						<source src="/mrc-mobile.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
			<div id="timeline">
				<video class="timeline" preload="none" playsinline autoplay muted loop style="pointer-events: none;" poster="./timeline-poster-desktop.webp">
					<source src="./timeline-desktop.mp4" type="video/mp4" media="all and (min-width:850px)" />
					<source src="./timeline-mobile.mp4" type="video/mp4" media="all and (max-width:849px)" />
				</video>
			</div>
		</div>
	</section>

	<section id="featured-videos">
		<div class="container top">
			<div class="flex padding-x">
				<div class="cell small-18">
					<h2 class="border-top">Social Media Ads</h2>
					<p class="width">
						These ads are (the 1:1 aspect ratio versions) from a number of Facebook and Google Ad campaigns with still image and vector graphics superimposed over video using Adobe Animate.
					</p>
					<br />
				</div>
			</div>
		</div>

		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/diamond-mobile.mp4" type="video/mp4" />
					</video>
					<h3>Residential Highrise Rentals</h3>
				</div>
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/Fortune-District-Ad-1.mp4" type="video/mp4" />
					</video>
					<h3>Commercial Space</h3>
				</div>
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/Greehaus-1080.mp4" type="video/mp4" />
					</video>
					<h3>Condominiums</h3>
				</div>
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/MRC-Facebook.mp4" type="video/mp4" />
					</video>
					<h3>Resort</h3>
				</div>
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/Greenhaus-sky.mp4" type="video/mp4" />
					</video>
					<h3>Condominiums</h3>
				</div>
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/MRC-Ad-1.mp4" type="video/mp4" />
					</video>
					<h3>Resort</h3>
				</div>
				<div class="swiper-slide">
					<video playsinline muted controls poster="">
						<source src="/BlueVista-Summer.mp4" type="video/mp4" />
					</video>
					<h3>Residential Community</h3>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</section>

	<section id="current-sites">
		<div class="container">
			<div class="flex padding-x">
				<div class="cell small-18">
					<h2 class="border-top">9 Panel Video Wall</h2>
					<p class="justify width">
						I was asked to create a 9 panel video wall for a Sales Centre in Mississauga. The idea was to reveal each rendering with an animated delay (for each panel) between transitions.
					</p>
				</div>
			</div>
			<div style="margin: 2rem auto 1rem; max-width:1400px;text-align:center;">
				<video playsinline muted controls poster="" style="width: 100%; ">
					<source src="/S2-Video-Wall.mp4" type="video/mp4" />
				</video>
			</div>
		</div>
	</section>
</Layout>

<style>
	.video {
		position: fixed;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
	}
</style>

<script>
	document.addEventListener('astro:page-load', () => {
		const date = new Date();
		const timeOfDay = date.getHours();
		let greeting;

		if (timeOfDay < 12) {
			greeting = 'Good morning.';
		} else if (timeOfDay < 17) {
			greeting = 'Good afternoon.';
		} else {
			greeting = 'Good evening.';
		}

		const greetingElement = document.getElementById('greeting');
		if (greetingElement) {
			greetingElement.innerHTML = '<h1>' + greeting + '</h1>';
		}
	});
</script>

<script is:inline>
	document.addEventListener('astro:page-load', () => {
		const form = document.getElementById('htmls');
		const email = form.querySelector('input[name="email"]').value;
		const radioButtons = document.querySelectorAll('.radio-input');

		if (!form) {
			console.error('Form element not found');
			return;
		}

		// radioButtons.forEach((radio) => {
		// 	radio.addEventListener('change', function () {
		// 		console.log(`${radio.value}`);
		// 		if (radio.checked) {
		// 			if (radio.value === 'dale') {
		// 				form.action = './htmls/dale.php';
		// 				console.log(`${form.action}`);
		// 			} else if (radio.value === 'mrc') {
		// 				form.action = './htmls/mrc.php';
		// 			} else if (radio.value === 'winslow') {
		// 				form.action = './htmls/winslow.php';
		// 			} else if (radio.value === 'vanguard') {
		// 				form.action = './htmls/vanguard.php';
		// 			} else if (radio.value === 'diamond') {
		// 				form.action = './htmls/diamond.php';
		// 			} else if (radio.value === 'kingsway') {
		// 				form.action = './htmls/kingsway.php';
		// 			} else {
		// 				form.action = '';
		// 			}
		// 		}
		// 	});
		// });

		//console.log(form);

		form.addEventListener('submit', async function (e) {
			//const formData = new FormData(form);
			//const isRadioChecked = Array.from(radioButtons).some((radio) => radio.checked);
			e.preventDefault();

			const responseDiv = document.querySelector('.response');

			// if (!isRadioChecked) {
			// 	responseDiv.innerHTML = `<p style="color: #ff8000;">Please select one of the HTMLs below and try again.</p>`;
			// 	return;
			// }

			try {
				const response = await fetch('/netlify/functions/sendMailchimpEmail', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({ email }),
				});

				const result = await response.json();
				if (result.success) {
					responseDiv.innerHTML = `<p style="color: #ff8000;">${result.message}</p>`;
				} else {
					responseDiv.innerHTML = `<p style="color: #ff8000;">${result.message}</p>`;
				}
			} catch (error) {
				responseDiv.innerHTML = `<p style="color: red;">An error occurred. Please try again later.</p>`;
			}
		});
	});
</script>

<script is:inline>
	document.addEventListener('astro:page-load', () => {
		const filterButtons = document.querySelectorAll('.filter-btn');
		const sites = document.querySelectorAll('#sites .site');
		const filterSites = document.querySelector('#filter-sites ul');

		function addAllButton() {
			// Check if the "All" button already exists
			if (!document.querySelector('.filter-btn-all')) {
				const createLi = document.createElement('li');
				const createFilterBtn = document.createElement('button');
				createFilterBtn.classList.add('filter-btn', 'filter-btn-all');
				createFilterBtn.textContent = 'All';
				createLi.appendChild(createFilterBtn);
				filterSites.insertBefore(createLi, filterSites.firstChild);

				// Add event listener to the "All" button
				createFilterBtn.addEventListener('click', () => {
					filterButtons.forEach((btn) => btn.classList.remove('active'));
					createFilterBtn.classList.add('active');
					sites.forEach((site) => (site.style.display = 'block'));
				});
			}
		}

		filterButtons.forEach((button) => {
			button.addEventListener('click', () => {
				filterButtons.forEach((btn) => btn.classList.remove('active'));
				button.classList.add('active');

				const allButton = document.querySelector('.filter-btn-all');
				if (allButton) {
					allButton.classList.remove('active');
				}

				const filterType = button.textContent.trim();

				sites.forEach((site) => {
					const dataCategory = site.getAttribute('data-category');
					if (dataCategory === filterType || filterType === 'All') {
						site.style.display = 'block';
					} else {
						site.style.display = 'none';
					}
				});

				addAllButton();
			});
		});
	});
</script>

<script>
	const mainVideo = document.querySelector('.timeline');
	const desktopVideo = './timeline-desktop.mp4';
	const mobileVideo = './timeline-mobile.mp4';
	const desktopPoster = './timeline-poster-desktop.webp';
	const mobilePoster = './timeline-poster-mobile.webp';
	const winWidth = window.innerWidth;

	if (mainVideo) {
		if (winWidth < 850) {
			mainVideo.setAttribute('poster', mobilePoster);
		} else {
			mainVideo.setAttribute('poster', desktopPoster);
		}
	}

	window.addEventListener('resize', function () {
		const winWidth = window.innerWidth;

		if (mainVideo) {
			if (winWidth < 850) {
				mainVideo.setAttribute('poster', mobilePoster);
				mainVideo.setAttribute('src', mobileVideo);
			} else {
				mainVideo.setAttribute('poster', desktopPoster);
				mainVideo.setAttribute('src', desktopVideo);
			}
		}
	});
</script>

<style>
	:root {
		.swiper {
			padding-bottom: 3rem;
		}
		.swiper-pagination {
			width: 100%;
			bottom: 0;
		}
		.swiper-pagination-bullet {
			background: #021e42;
			cursor: pointer;
			width: 12px;
			height: 12px;
			opacity: 1 !important;
		}
		.swiper-pagination-bullet-active {
			background: #ff9000;
		}
		.swiper-slide {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			background: none;
		}
	}
</style>

<script>
	import Swiper from 'swiper';
	import { Pagination, Autoplay } from 'swiper/modules';
	Swiper.use([Autoplay]);
	import 'swiper/scss';
	import 'swiper/scss/effect-fade';
	import 'swiper/scss/pagination';

	document.addEventListener('astro:page-load', () => {
		function initializeSwipers() {
			new Swiper('.swiper', {
				modules: [Pagination],
				freeMode: true,
				speed: 1000,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
				breakpoints: {
					2200: {
						slidesPerView: 5,
					},
					1700: {
						slidesPerView: 4,
					},
					1200: {
						slidesPerView: 3,
					},
					650: {
						slidesPerView: 2,
					},
					400: {
						slidesPerView: 1,
					},
				},
			});
		}

		initializeSwipers();
	});
</script>

<style>
	/* -------------------
	 VIDEOS
	 ------------------- */
	#featured-videos video {
		margin-bottom: 1rem;
	}
	#featured-videos h3 {
		font-size: min(max(1.5rem, 2.5vw), 28px);
	}
	#featured-videos video::-webkit-media-controls-volume-slider {
		display: none;
	}
	#featured-videos video::-webkit-media-controls-mute-button {
		display: none;
	}

	#featured-videos .swiper video {
		padding: 0 1.25rem;
	}

	/* =============================================
			FEATURED SITE
	================================================ */
	#featured-site-heading {
		margin: 50px auto 2rem;
	}
	#featured-site {
		padding: 0 1.25rem;
	}

	#featured-site .container {
		padding: 50px 0 50px;
		max-width: 1360px;
	}

	#featured-site .container.featured-site-bg {
		padding: 50px 0 0;
		border-radius: 2px;
		background: rgba(0, 0, 0, 0.05);
	}

	#featured-site .flex {
		justify-content: center;
	}

	#featured-site p {
		text-align: center;
		margin: 0 auto 1rem;
		max-width: 750px;
		padding: 0 1.25rem;
	}

	#timeline {
		margin: 2rem auto 0;
		background: #fff;
		max-width: 1400px;
		width: 100%;
		border: 0px #f2f2f2 solid;
		border-radius: 3px;
	}

	#timeline .timeline {
		width: 100%;
	}

	@media (max-width: 700px) {
		#featured-site {
			padding: 0;
		}
		#featured-site .container {
			border: 0;
			background: none;
			padding: 0 0 1.25rem;
		}
	}

	/* -------------------
	 LAPTOP & MOBILE 
	 ------------------- */
	.display-formats {
		align-items: center;
		gap: 3rem;
		padding: 0 1.25rem;
	}

	.display-formats .laptop-container {
		flex: 1 1 0;
		position: relative;
		padding: 10% 0;
	}

	.display-formats .mobile-container {
		flex: 0 1 auto;
		position: relative;
		max-width: 250px;
		padding: 50px 0;
	}

	.device-mask {
		position: absolute;
		width: 100%;
		margin: 0 auto;
	}

	.site-video {
		width: 79%;
		margin: 4% auto 0;
		border-radius: 10px;
	}

	.mobile-video {
		width: 95%;
		margin: 4% auto 0;
		border-radius: 20px;
	}

	@media (max-width: 1000px) {
		.display-formats {
			flex-direction: column;
			gap: 1rem;
		}
	}

	@media (max-width: 500px) {
		.display-formats .mobile-container {
			max-width: 100%;
			width: 65%;
			padding: 0 0 5rem;
		}
		.mobile-video {
			width: 63%;
			margin: 0.2rem auto 0;
			left: 0;
			right: 0;
		}
		.display-formats .mobile-container img {
			width: 65%;
			margin: 0 auto;
			left: 0;
			right: 0;
		}
	}
</style>
