---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';
import html7Dale from '../img/htmls/7dale.jpg';
import htmlMRC from '../img/htmls/mrc.jpg';
import htmlDiamond from '../img/htmls/diamond.jpg';
import htmlWinslow from '../img/htmls/winslow.jpg';
import htmlVanguard from '../img/htmls/vanguard.jpg';
import { items } from '../data/index.ts';
import ItemCard from '../components/ItemCard.astro';
import CheckboxGroup from '../components/Checkbox.jsx';

// const obj = {
// 	listItems: ['first item', 'seconds item', 'third item'],
// };
// const response = await fetch('https://jsonplaceholder.typicode.com/posts?_limit=5');
// const data = await response.json();

import { Image } from 'astro:assets';
import laptop from '../img/laptop.png';
import mobile from '../img/mobile.png';

import aquavil from '../img/sites/aquavil.jpg';
import barrington from '../img/sites/barrington.jpg';
import boathaus from '../img/sites/boathaus.jpg';
import brownstones from '../img/sites/brownstones.jpg';
import delisle from '../img/sites/delisle.jpg';
import designhaus from '../img/sites/designhaus.jpg';
import fuse from '../img/sites/fuse.jpg';
import genesis from '../img/sites/genesis.jpg';
import guildwood from '../img/sites/guildwood.jpg';
import jac from '../img/sites/jac.jpg';
import kingsway from '../img/sites/kingsway.jpg';
import mcmurray from '../img/sites/mcmurray.jpg';
import northeast from '../img/sites/northeast.jpg';
import peterSt from '../img/sites/peterSt.jpg';
import ravine from '../img/sites/ravine.jpg';
import shiplake from '../img/sites/shiplake.jpg';
import sunrise from '../img/sites/sunrise.jpg';
import todm from '../img/sites/todm.jpg';
import union from '../img/sites/union.jpg';
import url from '../img/sites/url.jpg';
import arthaus from '../img/sites/arthaus.webp';
import thomas from '../img/sites/7stthomas.webp';
---

<Layout pageTitle="Past & Current Work" pageSiteTitles="">
	<section>
		<div class="container top-of-page btm" id="intro">
			<div class="flex padding-x">
				<div class="cell small-18">
					<h1 id="greeting" class="slideInUp"></h1>
				</div>
			</div>
			<div class="flex padding-x">
				<div class="cell small-18 medium-9">
					<p>
						This site was built using the <strong><a target="_blank" href="https://astro.build/" class="underline" aria-label="offsite link to Astro.build">Astro JS</a></strong> framework with <a
							class="underline"
							aria-label="offsite link to radix-ui.com"
							target="_blank"
							href="https://www.radix-ui.com/">Radix UI</a
						>, Lenis native-browser smooth scrolling, and some parallaxing using the <a class="underline" target="_blank" href="https://gsap.com/" aria-label="offsite link to gsap.com">GSAP</a> animation
						library.
					</p>
					<p>
						The following custom designed brochure site examples were created for P&B Marketing Ltd., a marketing agency that provides services to developers in the real estate development industry.
					</p>
				</div>
				<div class="cell small-18 medium-9">
					<p>Although similiar structurally, each site has a unique set of design, UI, and lead capture requirements, which are listed in the details. Click on eat site for...</p>
					<p>For more background information, please visit the <a class="underline" href="/about">Brief History</a> page.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- <div class="line-btm"></div> -->

	<section>
		<div class="container top btm" id="current-sites">
			<div class="flex">
				<div class="cell small-18">
					<h1 class="staggerText">Active Sites</h1>
					<p class="width">
						The following more recent sites were built using the Astro JS Framework for <a
							target="
						_blank"
							href="https://pbmarketing.ca/work.php"
							class="underline"
							aria-label="offsite link to pbmarketing.ca">
							P&B Marketing Ltd</a
						>. Prior to using Astro, PHP was used for centralizing components.
					</p>
					<br />

					<div id="filter-sites">
						<ul>
							<li>PHP</li>
							<li>Astro</li>
							<li>CMS</li>
						</ul>
					</div>

					<div class="flex">
						{items.map((item) => <ItemCard {item} />)}
					</div>
				</div>
			</div>
		</div>

		<div class="line-btm"></div>

		<!-- <section>
		<div class="container top">
			<div class="flex">
				<div class="cell small-18 medium-9">
					<Accordion client:visible />
				</div>
				<div class="cell small-18 medium-9">
					<ul>
						{obj.listItems.map((item) => <li>{item}</li>)}
					</ul>
					<ul>
						{data.map((item) => <li>{item.title}</li>)}
					</ul>
				</div>
				<div class="cell small-18 medium-9">
					<TabsDemo client:visible />

					<ul>
						{obj.listItems.map((item) => <li>{item}</li>)}
					</ul>
					<ul>
						{data.map((item) => <li>{item.title}</li>)}
					</ul>
				</div>
			</div>
		</div>
	</section> -->

		<section id="htmls">
			<div class="container top">
				<div class="flex padding-x">
					<div class="cell small-18">
						<h2 class="staggerText">HTML Email Campaigns</h2>
					</div>
					<div class="cell small-18">
						<p class="width">
							The following selection of <strong>HTML Email campaigns</strong> were hand-coded in Visusal Studio Code, tested in Litmus, and deployed through Mailchimp.
						</p>
						<div class="cell small-18">
							<p class="width">To receive an example HTML in your inbox, select one, enter your email address, and click send.</p>
						</div>
					</div>
				</div>
				<div id="campaigns">
					<div>
						<CheckboxGroup />
						<Picture src={html7Dale} formats={['avif', 'webp']} quality="" alt="7 Dale" />
						<button>SEND</button>
					</div>
					<div>
						<CheckboxGroup />
						<Picture src={htmlMRC} formats={['avif', 'webp']} quality="" alt="Marina Resort Cavtat" />
						<button>SEND</button>
					</div>
					<div>
						<CheckboxGroup />
						<Picture src={htmlWinslow} formats={['avif', 'webp']} quality="" alt="The Winslow" />
						<button>SEND</button>
					</div>
					<div>
						<CheckboxGroup />
						<Picture src={htmlVanguard} formats={['avif', 'webp']} quality="" alt="The Vanguard" />
						<button>SEND</button>
					</div>
					<div>
						<CheckboxGroup />
						<Picture src={htmlDiamond} formats={['avif', 'webp']} quality="" alt="The Diamond Rentals" />
						<button>SEND</button>
					</div>
				</div>
			</div>
		</section>

		<div class="line-btm"></div>

		<!-- <section>
		<div class="container">
			<div class="flex align-middle stagger-img">
				<div class="cell small-18 clipInRight">
					<Picture src={banner2} class="item" formats={['avif', 'webp']} quality="" alt="" />
					<div class="absolute">
						<h2 class="staggerText">Languages / Technologies</h2>
						<p>jQuery • JavaScript • PHP • HTML • CSS/SASS (Flexbox & CSS Grid) • Astro JS • Radix UI • React Hook Forms • NPM • Node.js • Netlify • Git/GitHub/GitHub Actions • Visual Studio Code</p>
					</div>
				</div>			
			</div>

			<div class="container top btm">
				<div class="flex padding-x align-middle stagger-img">
					<div class="cell medium-18 large-8 txt-left">
						<div>
							<h2 class="staggerText">Software</h2>
							<p>
								Proficient in Mac and PC • Adobe Creative Cloud (Photoshop • Adobe Animate • Premiere Pro • After Effects • Illustrator • InDesign) • Handbrake Video Transcoder • Microsoft 365 Suite
							</p>
						</div>
					</div>
					<div class="cell medium-18 large-10 clipInUp">
						<Picture src={banner2} class="item" formats={['avif', 'webp']} quality="" alt="" />
					</div>
				</div>
			</div>

			<div class="container top btm">
				<div class="flex padding-x align-middle stagger-img">
					<div class="cell medium-18 large-10 small-order-2 medium-order-2 large-order-1 clipInLeft">
						<Picture src={banner2} class="item" formats={['avif', 'webp']} quality="" alt="" />
					</div>
					<div class="cell medium-18 large-8 small-order-1 medium-order-1 large-order-2 txt-right">
						<div>
							<h2 class="staggerText">Hosting & DNS Admin</h2>
							<p>WHM/cPanel web and email hosting and management DNS/Nameserver management and troubleshooting</p>
							<h2 class="staggerText">Testing Tools & Performance</h2>
							<p>BrowserStack • Litmus Lighthouse/DevTools/PageSpeed Insights Privacy Sandbox Analysis Tool (PSAT) Google Tag Assistant Meta Pixel Helper</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->

		<section>
			<div class="container top btm" id="featured">
				<div class="flex">
					<h2 class="staggerText">Featured Site</h2>
				</div>

				<div class="flex display-formats">
					<div class="laptop-container">
						<Image src={laptop} class="device-mask" alt="Laptop" />
						<video class="site-video" autoplay playsinline muted loop poster="">
							<source src="/mrc-laptop.mp4" type="video/mp4" />
						</video>
					</div>
					<div class="mobile-container">
						<Image src={mobile} class="device-mask" alt="Mobile Mask" />
						<video class="mobile-video" autoplay playsinline muted loop poster="">
							<source src="/mrc-mobile.mp4" type="video/mp4" />
						</video>
					</div>
				</div>
			</div>
		</section>

		<div class="line-btm left"></div>

		<section id="features-container">
			<div class="container top">
				<div class="flex padding-x">
					<div class="cell small-18">
						<h2 class="staggerText">Video & Animation Ads</h2>
						<!-- <h3>Video / Animation</h3> -->
						<p>The following animations were are selections from a series of Facebook and Google Ad campaigns.</p>
					</div>
				</div>
			</div>

			<div class="features">
				<div class="overlay">
					<svg class="play-button" viewBox="0 0 200 200">
						<circle cx="100" cy="100" r="90" fill="none" stroke-width="15" stroke="#fff"></circle>
						<polygon points="70, 55 70, 145 145, 100" fill="#fff"></polygon>
					</svg>
				</div>
				<div class="video-container">
					<video playsinline muted poster="">
						<source src="/Fortune-District-Ad-1.mp4" type="video/mp4" />
					</video>
					<h4>Commercial Space</h4>
					<button><a target="_blank" href="https://fortunedistrict.ca" aria-label="offsite link to fortunedistrict.ca">fortunedistrict.ca</a></button>
				</div>
				<div>
					<video playsinline muted poster="">
						<source src="/Greehaus-1080.mp4" type="video/mp4" />
					</video>
					<h4>Condos</h4>
				</div>
				<div>
					<video playsinline muted controls poster="">
						<source src="/MRC-Facebook.mp4" type="video/mp4" />
					</video>
					<h4>Croatian Resort</h4>
					<button><a target="_blank" href="https://marinaresortcavtat.com/" aria-label="offsite link to marinaresortcavtat.com">marinaresortcavtat.com</a></button>
				</div>
				<div>
					<video playsinline muted controls poster="">
						<source src="/Greenhaus-sky.mp4" type="video/mp4" />
					</video>
					<h4>Condominiums</h4>
					<button><a target="_blank" href="https://fortunedistrict.ca" aria-label="offsite link to fortunedistrict.ca">fortunedistrict.ca</a></button>
				</div>
				<div>
					<video playsinline muted controls poster="">
						<source src="/MRC-Ad-1.mp4" type="video/mp4" />
					</video>
					<h4>Croatian Resort</h4>
					<button><a target="_blank" href="https://marinaresortcavtat.com/" aria-label="offsite link to marinaresortcavtat.com">marinaresortcavtat.com</a></button>
				</div>
				<div>
					<video playsinline muted controls poster="">
						<source src="/MRC-Ad-7.mp4" type="video/mp4" />
					</video>
					<h4>Croatian Resort Ad</h4>
					<button><a target="_blank" href="https://marinaresortcavtat.com/" aria-label="offsite link to marinaresortcavtat.com">marinaresortcavtat.com</a></button>
				</div>
				<div>
					<video playsinline muted controls poster="">
						<source src="/BlueVista-Summer.mp4" type="video/mp4" />
					</video>
					<h4>Blue Vista / Residential Community</h4>
				</div>
				<div>
					<video playsinline muted controls poster="">
						<source src="/S2-Video-Wall.mp4" type="video/mp4" />
					</video>
					<h4>Sales Centre Video Wall</h4>
				</div>
			</div>
		</section>

		<section id="timeline">
			<video class="timeline" autoplay playsinline muted loop poster="/timeline-poster.webp">
				<source src="/timeline.mp4" type="video/mp4" />
			</video>
		</section>

		<div id="graveyard">
			<div class="container top btm">
				<div class="flex padding-x">
					<div class="cell">
						<h1>Web Limbo</h1>
						<p class="width">A number of P&B Real Estate developer projects below have been retired, although some are still active and or have samples of marketing materials if you click on them.</p>
						<p class="width">
							On top of the list below, other web projects that I have developed can be seen <a
								target="_blank"
								class="underline"
								href="https://pbmarketing.ca/work.php"
								aria-label="offsite link to pbmarketing.ca">here</a
							>.

							<p>They were also built using PHP, jQuery, HTML, and SCSS/CSS.</p>
							<br />
						</p>
					</div>
				</div>
				<div class="flex padding-x small-up-2 medium-up-3 large-up-4 graveyard">
					<div class="cell">
						<a href="https://theravine.ca/" target="_blank" aria-label="offsite link to theravine.ca">
							<Image src={ravine} class="" alt="The Ravine" />
							<p>The Ravine</p>
						</a>
					</div>
					<div class="cell">
						<a href="https://pbmarketing.ca/work-arthaus.php" target="_blank" aria-label="offsite link to work-arthaus.php">
							<Image src={arthaus} class="" alt="Arthaus" />
							<p>Arthaus</p>
						</a>
					</div>
					<div class="cell">
						<a href="https://pbmarketing.ca/work-shiplake.php" target="_blank" aria-label="offsite link to work-shiplake.php">
							<Image src={shiplake} class="" alt="Shiplake Rental Management" />
							<p>Shiplake Rental Mgmt.</p>
						</a>
					</div>
					<div class="cell">
						<a href="https://pbmarketing.ca/work-7stThomas.php" target="_blank" aria-label="offsite link to work-7stThomas.php">
							<Image src={thomas} class="" alt="7 St. Thomas" />
							<p>7 St. Thomas</p>
						</a>
					</div>
					<div class="cell">
						<Image src={peterSt} class="" alt="117 Peter Street" />
						<p>117 Peter Street</p>
					</div>
					<div class="cell">
						<Image src={barrington} class="" alt="The Barrington" />
						<p>The Barrington</p>
					</div>
					<div class="cell">
						<a href="https://pbmarketing.ca/work-boathaus.php" target="_blank" aria-label="offsite link to pbmarketing.ca/work-boathaus.php">
							<Image src={boathaus} class="" alt="Boathaus" />
							<p>Boathaus</p>
						</a>
					</div>
					<div class="cell">
						<Image src={brownstones} class="" alt="Brownstones" />
						<p>Brownstones</p>
					</div>
					<div class="cell">
						<a href="https://pbmarketing.ca/work-delisle.php" target="_blank" aria-label="offsite link to pbmarketing.ca/work-delisle.php">
							<Image src={delisle} class="" alt="Delisle Dentistry" />
							<p>Delisle Dentistry</p>
						</a>
					</div>
					<div class="cell">
						<Image src={designhaus} class="" alt="Designhaus" />
						<p>Designhaus</p>
					</div>
					<div class="cell">
						<Image src={fuse} class="" alt="Fuse Consos" />
						<p>Fuse Consos</p>
					</div>
					<div class="cell">
						<Image src={genesis} class="" alt="Genesis Condos" />
						<p>Genesis Condos</p>
					</div>
					<div class="cell">
						<Image src={guildwood} class="" alt="Guildwood Condos" />
						<p>Guildwood Condos</p>
					</div>
					<div class="cell">
						<a href="http://jacjacobson.com" target="_blank" aria-label="offsite link to jacjacobson.com">
							<Image src={jac} class="" alt="Jack Jacobson Photography" />
							<p>Jack Jacobson Photography</p>
						</a>
					</div>
					<div class="cell">
						<Image src={aquavil} class="" alt="Aquavil" />
						<p>Aquavil</p>
					</div>
					<div class="cell">
						<a href="https://kingswaybytheriver.ca/" target="_blank" aria-label="offsite link to kingswaybytheriver.ca">
							<Image src={kingsway} class="" alt="Kingsway By The River" />
							<p>Kingsway By The River</p>
						</a>
					</div>
					<div class="cell">
						<Image src={northeast} class="" alt="Northeast Midstream Energ" />
						<p>Northeast Midstream Energy</p>
					</div>
					<div class="cell">
						<Image src={sunrise} class="" alt="Sunrise Condos" />
						<p>Sunrise Condos</p>
					</div>
					<div class="cell">
						<Image src={todm} class="" alt="Towns of Don Mills" />
						<p>Towns of Don Mills</p>
					</div>
					<div class="cell">
						<Image src={union} class="" alt="Union Villas" />
						<p>Union Villas</p>
					</div>
					<div class="cell">
						<Image src={url} class="" alt="URL Condos" />
						<p>URL Condos</p>
					</div>
					<div class="cell">
						<Image src={mcmurray} class="" alt="McMurray Residences" />
						<p>McMurray Residences</p>
					</div>
				</div>
			</div>
		</div>

		<video class="fireworks" src="/fireworks-wh.mp4" autoplay playsinline muted loop poster=""></video>
	</section>

	<script is:inline src="/gsap.min.js"></script>
	<script is:inline src="/ScrollTrigger.min.js"></script>
	<script is:inline src="/ScrollSmoother.min.js"></script>
	<script is:inline src="/SplitText.min.js"></script>

	<script>
		const date = new Date();
		const timeOfDay = date.getHours();
		let greeting;

		if (timeOfDay < 12) {
			greeting = 'Good morning.';
		} else if (timeOfDay < 17) {
			greeting = 'Good afternoon.';
		} else {
			greeting = 'Good evening.';
		}

		const greetingElement = document.getElementById('greeting');
		if (greetingElement) {
			greetingElement.innerHTML = '<h1>' + greeting + '</h1>';
		}
	</script>

	<script is:inline>
		const video = document.querySelector('.fireworks');

		document.getElementById('themeToggle').addEventListener('click', () => {
			if (localStorage.getItem('theme') && localStorage.getItem('theme').includes('dark')) {
				video.setAttribute('src', '/fireworks-drk.mp4');
			} else {
				video.setAttribute('src', '/fireworks-wh.mp4');
			}
			// if (localStorage.getItem('theme').includes('dark')) {
			// 	video.setAttribute('src', '/fireworks-drk.mp4');
			// } else {
			// 	video.setAttribute('src', '/fireworks-wh.mp4');
			// }
		});

		document.addEventListener('astro:page-load', () => {
			if (localStorage.getItem('theme').includes('dark')) {
				video.setAttribute('src', '/fireworks-drk.mp4');
			} else {
				video.setAttribute('src', '/fireworks-wh.mp4');
			}

			// if (video.getAttribute('src') === '/fireworks-drk.mp4') {
			// 	video.setAttribute('src', '/fireworks-wh.mp4');
			// } else {
			// 	video.setAttribute('src', '/fireworks-drk.mp4');
			// }
		});
	</script>

	<script is:inline>
		// FEATURES PINNED
		const features = document.querySelector('.features');

		function getScrollAmount() {
			let featuresWidth = features.scrollWidth;
			return -(featuresWidth - window.innerWidth / 1.05);
		}

		const tween = gsap.fromTo(
			features,
			{
				//x: () => window.innerWidth
			},
			{
				x: getScrollAmount,
			}
		);

		ScrollTrigger.create({
			trigger: '#features-container',
			start: 'top 0%',
			end: () => `+=${getScrollAmount() * -1}`,
			pin: true,
			paused: true,
			ease: 'power3',
			animation: tween,
			scrub: 2,
			invalidateOnRefresh: true,
			//markers: true
		});

		const sections = gsap.utils.toArray('.features div');

		sections.forEach((section) => {
			ScrollTrigger.create({
				trigger: section,
				containerAnimation: tween,
				scrub: true,
				start: 'left 0%',
			});
		});
	</script>

	<script is:inline>
		// CLIP PATH BIG IMAGES
		const clipPaths = gsap.utils.toArray('.clip-path');

		clipPaths.forEach((element, index) => {
			let clipImages = element.querySelectorAll('.clip-image');

			let tl = gsap.timeline({
				scrollTrigger: {
					trigger: element,
					scrub: true,
					duration: 5,
					start: 'top 90%',
					end: 'bottom 50%',
				},
			});

			tl.fromTo(
				clipImages,
				{
					autoAlpha: 1,
					clipPath: 'polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%)',
				},
				{
					autoAlpha: 1,
					clipPath: 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
				}
			);
		});

		// STAGGER TEXT
		function setupSplits() {
			gsap.utils.toArray('.staggerText').forEach((el) => {
				gsap.from(
					SplitText.create(el, {
						type: 'words, chars',
					}).chars,
					{
						duration: 1,
						opacity: 0,
						id: 'chars',
						y: -20,
						ease: 'circ:out',
						stagger: 0.5,
						scrollTrigger: {
							trigger: el,
							start: 'top 100%',
							end: 'top 80%',
							scrub: 1,
						},
					}
				);
			});
		}

		setupSplits();
		window.addEventListener('resize', setupSplits);

		// FADE IN
		const fadeIn = gsap.utils.toArray('.fadeIn');

		fadeIn.forEach((element, index) => {
			let items = element.querySelectorAll('.item');
			let tl = gsap.timeline({
				scrollTrigger: {
					trigger: element,
					scrub: true,
					start: 'top 95%',
					end: 'bottom 60%',
				},
			});

			tl.fromTo(
				items,
				{
					opacity: '0',
				},
				{
					opacity: '1',
				}
			);
		});

		// CLIP PATH from LEFT
		const clipInLeft = gsap.utils.toArray('.clipInLeft');

		clipInLeft.forEach((element, index) => {
			let items = element.querySelectorAll('.item');
			let tl = gsap.timeline({
				scrollTrigger: {
					trigger: element,
					scrub: true,
					start: 'top 95%',
					end: 'bottom 50%',
				},
			});

			tl.fromTo(
				items,
				{
					autoAlpha: 0,
					clipPath: 'polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%)',
				},
				{
					autoAlpha: 1,
					clipPath: 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
				}
			);
		});

		// CLIP PATH from RIGHT
		const clipInRight = gsap.utils.toArray('.clipInRight');

		clipInRight.forEach((element, index) => {
			let items = element.querySelectorAll('.item');
			let tl = gsap.timeline({
				scrollTrigger: {
					trigger: element,
					scrub: true,
					start: 'top 80%',
					end: 'bottom 40%',
				},
			});

			tl.fromTo(
				items,
				{
					clipPath: 'polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%)',
				},
				{
					clipPath: 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
				}
			);
		});

		// CLIP PATH UP
		const clipInUp = gsap.utils.toArray('.clipInUp');

		clipInUp.forEach((element, index) => {
			let items = element.querySelectorAll('.item');
			let tl = gsap.timeline({
				scrollTrigger: {
					trigger: element,
					scrub: true,
					start: 'top 100%',
					end: 'bottom 80%',
				},
			});

			tl.fromTo(
				items,
				{
					clipPath: 'polygon(0% 90%, 100% 90%, 100% 100%, 0% 100%)',
				},
				{
					clipPath: 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
				}
			);
		});
	</script>

	<style>
		.overlay {
			position: relative;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.play-button {
			max-width: 80px;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			opacity: 0.5;
		}
	</style>

	<style>
		/* .flex > a {
			flex: 1 1 auto;
		}
		.flex img.website-img {
			max-width: 100px;
		} */

		@media (max-width: 800px) {
			.display-formats .laptop-container {
				padding: 10% 0 50%;
			}
		}

		/* -------------------
	 LAPTOP & MOBILE 
	 ------------------- */
		.display-formats {
			align-items: center;
		}

		.display-formats .laptop-container {
			flex: 1 1 0;
			position: relative;
			overflow: hidden;
			padding: 10% 0;
			/* border: 1px red solid; */
		}

		.display-formats .mobile-container {
			flex: 0 0 auto;
			position: relative;
			overflow: hidden;
			max-width: 300px;
			padding: 5% 0;
			border: 1px red solid;
		}

		.device-mask {
			position: absolute;
			width: 100%;
			margin: 0 auto;
		}

		.site-video {
			width: 79%;
			margin: 0 auto;
		}
	</style>
</Layout>
