---
import { type Item, items } from '../../data';
import Layout from '../../layouts/Layout.astro';
import ItemCard from '../../components/ItemCard.astro';
import { getImage } from 'astro:assets';
import myImage from '../../img/close.svg';
const close = await getImage({ src: myImage });
const { slug } = Astro.params;

export function getStaticPaths() {
	return [
		...items.map((item) => ({
			params: {
				slug: item.slug,
				website: item.website,
			},
		})),
	];
}

const item = items.find((item) => item.slug === slug) as Item;
if (!item) {
	throw new Error(`Item with slug "${slug}" not found`);
}
---

<Layout pageTitle={item.name} pageSiteTitles="">
	<div class="container" id="grid-work-container">
		<div class="grid work">
			<div>
				<a href={item.website} target="_blank" role="button" aria-label="New tab link to website" class="button">
					<img src={item.image} alt={item.name} class="website-img" transition:name={`${slug} image`} /></a
				>
			</div>
			<div>
				<h1>
					{item.name}
				</h1>
				<p class="link" transition:name={`${slug} link`}>
					<a href={item.website} target="_blank">{item.link}</a>
				</p>
				<p class="description" transition:name={`${slug} description`}>
					{item.description}
				</p>
				<p class="details" transition:name={`${slug} details`}>
					{item.details}
				</p>

				<a href={item.website} transition:name={`${slug} website`} target="_blank" role="button" aria-label="New tab link to website" class="website button">WEBSITE</a>
				<!-- <a href={item.featured} type="button" role="button" aria-label="Link to featured video" class="website" class="button">Featured Video</a> -->
				<div>
					<a href="/#filter-sites" class="close" transition:name={`${slug} close`} role="button" style={`background-image: url('${close.src}')`}></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-items">
		<div class="flex">
			{items.filter((p) => p.category === item.category && p.id !== item.id).map((pr) => <ItemCard item={pr} />)}
		</div>
		<!-- <div class="grid-container"></div> -->
	</div>

	<script>
		document.addEventListener('click', (event) => {
			if (location.pathname === '/') return;
			if ((event as any)?.target?.tagName === 'A') {
				document.querySelector('.animate-in')?.classList.add('opacity-0');
			}
		});
	</script>
	<style>
		.container-items {
			padding: 0 0.5rem;
			max-width: 1400px;
			margin: 0 auto;
		}

		/* .flex {
			gap: 1rem;
		} */
		.grid.work {
			--grid-layout-gap: 1rem;
			--grid-column-count: 3;
			--grid-item--min-width: 500px;

			--gap-count: calc(var(--grid-column-count) - 1);
			--total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
			--grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
			grid-gap: var(--grid-layout-gap);

			/* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
			align-items: center;
			/* background: #f9f9f9;
			border-radius: 5px;
			padding: 1.25rem; */
			gap: 2rem;
			position: relative;
			margin-top: 22.5%;
			margin-bottom: 4rem;
		}

		@media (max-width: 700px) {
			.grid.work {
				margin-top: 150px;
			}
		}
		@media (max-width: 520px) {
			.grid.work {
				grid-template-columns: 100%;
				align-items: center;
			}
		}
		h1 {
			font-size: min(max(2.5rem, 3.5vw), 50px);
			margin-bottom: 0.25rem;
			/* border: 1px red solid; */
		}
		.link {
			font-style: italic;
		}
		.details {
			font-family: 'CalibriBold', sans-serif;
		}
		.description {
		}

		.website {
			color: #fff;
			background: #ff9000;
			border-radius: 2px;
			padding: 0.6rem 1rem 0.5rem;
			font-weight: bold;
			font-size: 1rem;
			display: inline-block;
			letter-spacing: 1px;
			line-height: 1;
			cursor: pointer;
		}

		.website:hover {
			background: #26262d;
		}

		a {
			text-decoration: none;
		}

		h4 {
			animation: animate-in 0.5s ease-in-out;
		}
		.close {
			margin-top: 2rem;
			padding: 1rem;
			background-image: url('../../img/close.svg') no-repeat !important;
			background-size: 15px;
			background-repeat: no-repeat;
			background-position: center;
			background-color: #fff;
			border: 1px #ccc solid;
			display: inline-block;
			border-radius: 30px;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		.close:hover {
			background-image: url('../../img/close-wh.svg') no-repeat !important;
			background-color: #f2f2f2;
			background-size: 15px;
			background-position: center;
			border: 1px #ccc solid;
		}

		p {
			font-size: min(max(0.9rem, 1.25vw), 22px);
		}

		@media (max-width: 350px) {
			.grid.work {
				background: none;
				border-radius: 3px;
				padding: 0 0 1.3rem;
				gap: 2rem;
				position: relative;
				margin-top: 200px;
				margin-bottom: 3rem;
			}
		}

		@keyframes animate-in {
			0% {
				opacity: 0;
				transform: translateY(1rem);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}
		@keyframes astroFadeInOut {
			0% {
				opacity: 1;
			}
			to {
				opacity: 0;
			}
		}
		@keyframes astroFadeIn {
			0% {
				opacity: 0;
			}
		}
	</style>
</Layout>
